{% extends "_base/base.html" %}

{% block title %}OpenStack を簡単に作成 | Ubuntu{% endblock %}

{% block meta_description %} 時代は、従来のモノリシックなスケールアップ ソフトウェアからマルチホスト、スケールアウ トマイクロサービスへと段階的に変化してい ます。今は「ビッグソフトウェア」
の時代です。{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/35515576-openstack-cloud.svg{% endblock %}

{% block outer_content %}

{% with  title="OpenStack を簡単に作成",  image="https://assets.ubuntu.com/v1/35515576-openstack-cloud.svg", url="#register-section", cta="ダウンロード", class="p-takeover--openstack" %}
  {% include "engage/shared/_header.html" %}
{% endwith %}

<section class="p-strip is-shallow">
    <div class="row">
        <div class="col-7">
            <p>時代は、従来のモノリシックなスケールアップ
                ソフトウェアからマルチホスト、スケールアウ
                トマイクロサービスへと段階的に変化してい
                ます。今は「ビッグソフトウェア」
                の時代です。</p>
            <img src="https://assets.ubuntu.com/v1/2595b273-openstackmadeeasyJP_thumbs.png" alt="OpenStack を簡単に作成 - eBook">
            <h3>目次</h3>
            <ul>
                <li>OpenStackとは</li>
                <li>OpenStackの課題</li>
                <li>開発における標準的なOpenStack</li>
                <li>大規模オペレーショナル・インテリジェンス</li>
                <li>OpenStackのコンテナ</li>
            </ul>
        </div>
        <div class="col-5" id="register-section">
        <h3>ダウンロード</h3>
            {% with  id="3241", returnURL="https://pages.ubuntu.com/rs/066-EOV-335/images/OpenStack-made-easy_eBook_jp.pdf" %}
              {% include "engage/shared/_form.html"%}
            {% endwith %}
        </div>
    </div>
</section>

<style>
  .p-takeover--openstack {
    color: #ffffff;
    background-image: linear-gradient(44deg, #171717 0%, #181818 9%, #262626 34%, #2D2D2D 67%, #383838 88%, #2E2E2E 100%, #393939 100%);
  }
</style>
{% endblock %}
