
{% extends "_base/base.html" %}

{% block title %}Charmed OpenStackによる運用コストの低減、柔軟性の向上、使いやすさの改善 | Ubuntu{% endblock %}

{% block meta_description %}Charmed OpenStackによる運用コストの低減、柔軟性の向上、使いやすさの改善{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/3d6f5aa6-twitter_wide_banner+%283%29.jpeg{% endblock %}

{% block outer_content %}

{% with  title="Red Hat OpenStack PlatformとCanonicalのCharmed OpenStackとの比較",  image="https://assets.ubuntu.com/v1/2d935f28-openstack-cloud.svg", image_width="250", url="#register-section", cta="ホワイトペーパーをダウンロード", class="p-takeover--dark" %}
  {% include "engage/shared/_header.html" %}
{% endwith %}

<section class="p-strip">
  <div class="row">
    <div class="col-7">
      <p>プライベートクラウドインフラストラクチャを使用する今日のすべての組織において、財務の改善、セキュリティの強化、柔軟性の増大のために、OpenStackは不可欠なコンポーネントです。Red HatとCanonicalはどちらも独自の実運用グレードのOpenStackディストリビューションを提供していますが、両社のOpenStack展開、運用、サポートに対する手法は完全に異なるものです。</p>

      <p>このホワイトペーパーでは、Red Hat OpenStack Platformと、CanonicalのCharmed OpenStackについて、次のような詳細な比較を行います。</p>
        
      <ul class="p-list">
        <li class="p-list__item">Red Hatのソケット単位の価格モデルと、Canonicalのホスト単位の価格モデルとを比較した、包括的なコスト分析</li>
        <li class="p-list__item">OpenStackの展開、アップグレード、日常的な保守で利用可能なサポートと、管理されたサービスの詳細な比較</li>
        <li class="p-list__item">それぞれのディストリビューションをハイブリッドまたはマルチクラウド環境で使用した場合の統合能力の概要</li>
      </ul>
    </div>
    <div class="col-5" id="register-section">
      <h3>ダウンロード</h3>
      {% with 
        id="3737", 
        returnURL="https://pages.ubuntu.com/rs/066-EOV-335/images/JP_Comparing.OpenStack_05.11.20.pdf" 
      %}
        {% include "engage/shared/_form.html"%}
      {% endwith %}
    </div>
  </div>
</section>

{% endblock %}