{% extends "_base/base.html" %}

{% block title %}SBIグループがセキュアなオンプレミス型のOpenStackクラウドによりインフラ自動化を推進{% endblock %}

{% block meta_description %}SBI BITSは、日本の大手金融サービス企業であるSBIグループにITサービスとインフラを提供しています。SBIグループは250社以上、6,000人を超えるの従業員で構成されています。{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/a0e557b6-Yahoo-Japan.png{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/a0e557b6-Yahoo-Japan.png{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/f812a2db-sbibits.png{% endblock %}

{% block outer_content %}

{% with  title="SBIグループがセキュアなオンプレミス型のOpenStackクラウドによりインフラ自動化を推進", image="https://assets.ubuntu.com/v1/f812a2db-sbibits.png", url="#register-section", cta="ダウンロード", class="p-takeover--sbi" %}
  {% include "engage/shared/_header.html" %}
{% endwith %}

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
      <p>SBI BITSは、日本の大手金融サービス企業であるSBIグループにITサービスとインフラを提供しています。SBIグループは250社以上、6,000人を超えるの従業員で構成されています。</p>
      <p>製品化までの時間短縮とクライアントからの高い要求に対応するため、ベアメタルサーバーに代わるソリューションを模索していたSIB BITSは、OpenStackの採用を決めました。当初は既存のサプライヤーを検討しましたが、経済的で柔軟性のあるソリューションで本稼働に移行するために、外部サポートおよび専門性を備えたCanonicalを選択しました。</p>
      <blockquote class="p-pull-quote">
        <p class="p-pull-quote__quote">CanonicalのOpenStackにはロックインのリスクがありません。アップストリームバージョンに近いため、こちらが望めばサポートの完全な内製化も可能です。</p>
        <cite class="p-pull-quote__citation">SBI BITS社CIO、Georgi Georgiev氏</cite>
      </blockquote>
      <p>実装期間はわずか数週間ほどでしたが、費用対効果の高いOpenStackクラウドによる設備投資（CAPEX）および運用コスト（OPEX）の面で効果が現れており、SBI BITSはSBIグループ全体へのデプロイに自信を深めています。</p>
      <p>このユーザー事例では、以下について紹介しています。</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Cephストレージを活用して2サイトに導入したCanonicalの<a class="p-link--external" href="https://ubuntu.com/openstack">OpenStack</a>により法規制に適合、<a class="p-link--external" href="https://maas.io/">MAAS</a>および<a class="p-link--external" href="https://jaas.ai/">Juju</a>を用いたデプロイ。</li>
        <li class="p-list__item is-ticked"><a class="p-link--external" href="https://buy.ubuntu.com/">Ubuntu Advantage</a>による継続的サポートを活用することで、社内チームはコアビジネスに集中することが可能に。</li>
        <li class="p-list__item is-ticked">SBIグループ全体におけるマネージドサービスとして、KubernetesをCanonicalのサポートで導入予定。</li>
      </ul>
    </div>
    <div class="col-5" id="register-section">
      <h3>ダウンロード</h3>
      {% with  id="3428", returnURL="https://assets.ubuntu.com/v1/f6fed597-Canonical_SBi_JP.pdf" %}
        {% include "engage/shared/_form.html"%}
      {% endwith %}
    </div>
  </div>
</section>

<style>
  .p-takeover--sbi {
    color: #ffffff;
    background-image: linear-gradient(44deg, #171717 0%, #181818 9%, #262626 34%, #2D2D2D 67%, #383838 88%, #2E2E2E 100%, #393939 100%);
  }
</style>
{% endblock %}
