[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-template-finder-view = "==0.2"
django-json-redirects = "==0.3"
django-static-root-finder = "==0.1"
django-asset-server-url = "==0.1"
feedparser = "==5.2.1"
statsd = "==3.2.2"
talisker = "==0.9.16"
gunicorn = {extras = ["gevent"], version = "*"}
python-dateutil = "==2.7.5"
whitenoise = "==3.3.0"
"canonicalwebteam.get-feeds" = "==0.2.4"
"canonicalwebteam.versioned-static" = "==1.0.1"
Flask = "==1.0.2"
prometheus_client = "==0.3.1"

[dev-packages]

[requires]
python_version = "3.6"
