Django==2.1.6
whitenoise==3.3.1
canonicalwebteam.get-feeds==0.2.4
canonicalwebteam.versioned-static==1.0.2
django-template-finder-view==0.3
django-json-redirects==0.3
django-static-root-finder==0.3.1
django-asset-server-url==0.1
feedparser==5.2.1
statsd==3.3.0
prometheus_client==0.5.0
talisker==0.11.1
gunicorn[gevent]
python-dateutil==2.8.0
