<section id="takeover" {% if lang %}lang="{{ lang }}"{% endif %} class="{% if active == 'true' %}is-active {% endif %}{% if class %}{{ class }}{% else %}p-strip {% endif %}js-takeover" {% if lang_skip %}lang-skip="{{ lang_skip }}"{% endif %}>
  <div class="row u-equal-height p-takeover-animation" id="takeover-animation">
    <div class="col-7 u-vertically-center">
      <div class="p-section">
        <h1 id="takeover-title">{{ title | safe }}</h1>
        {% if subtitle %}
          <h4 id="takeover-subtitle">{{ subtitle | safe }}</h4>
        {% endif %}
      </div>
      <div class="p-section--shallow" id="takeover-ctas">
        <p>
          {% if primary_url %}
            <a id="takeover-primary-url" href="{{ primary_url }}" 
              class="{% if primary_cta_class %}{{ primary_cta_class }}{% else %}p-button--positive u-no-margin--bottom{% endif %}">
              <span>{{ primary_cta }}</span>
            </a>
          {% endif %}
          {% if secondary_url %}
            <a id="takeover-secondary-url" href="{{ secondary_url }}">
              <span>{{ secondary_cta }}&nbsp;&rsaquo;</span>
            </a>
          {% endif %}
        </p>
      </div>
    </div>
    {% if header_image %}
      <div class="col-5 u-vertically-center u-align--center {% if image_hide_small == 'true' %}u-hide--small{% endif %}">
        {% if image_width and image_height %}
          {% if 'http' not in header_image %}
            {% set image_url = "https://assets.ubuntu.com/v1/" + header_image %}
          {% else %}
            {% set image_url = header_image %}
          {% endif %}
          {{ image(url=image_url,
                  id="takeover-image",
                  alt="",
                  height=image_height,
                  width=image_width,
                  hi_def=True,
                  loading="auto",
                  attrs={"style": image_style}) | safe
          }}
        {% else %}
          <img id="takeover-image" src="{% if 'http' not in header_image %}https://assets.ubuntu.com/v1/{% endif %}{{ header_image }}" alt="" width="200" {% if image_style %}style="{{ image_style }}"{% endif %}>
        {% endif %}
      </div>      
    {% endif %}
  </div>
</section>