////
/// @author Web Team at Canonical Ltd
////

.body {
  padding-top: 30px;
}

.banner {
  background-color: $brand-color;
}

.nav-global {
  background: #efefef;
  width: 100%;
  height: 30px;
  line-height: 19.2px;
  display: block;
  z-index: 101;
  position: relative;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  margin-top: -30px;

  &__wrapper {
    max-width: $site-max-width;
    margin: auto;
  }

  &__list {
    margin-bottom: 0;
    margin-left: 0;
    top: 0;
  }

  &__list-item {
    float: left;
    display: block;
    text-align: left;
    margin: 0;
    height: 30px;
    margin-top: -1px;
    position: relative;
    top: 0;
  }

  &__link {
    color: #333;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    border-top: 3px solid transparent;
    border-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
    display: block;
    list-style-image: none;

    @media screen and (min-width: $breakpoint-large) {

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.footer {
  padding-top: 1rem;
  
  &__text {
    font-size: .85rem;
  }
}

@media screen and (min-width: $breakpoint-large) {

  .footer {
    max-width: $site-max-width;
    margin: auto;
    padding: 1rem 0;

    &__text {
      font-size: .85rem;
    }
  }
}
