interactions:
- request:
    body: params=%7B%22category_id%22%3A%22112%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/14/run
  response:
    body:
      string: "{\"success\":true,\"errors\":[],\"duration\":15.5,\"result_count\":18,\"params\":{\"category_id\":\"112\"},\"columns\":[\"cooked\",\"raw\",\"deleted_at\",\"title\",\"created_at\",\"updated_at\",\"id\",\"slug\"],\"default_limit\":1000,\"relations\":{},\"colrender\":{},\"rows\":[[\"\\u003cdiv
        class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003eKey\\u003c/th\\u003e\\n\\u003cth\\u003eValue\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003eimage\\u003c/td\\u003e\\n\\u003ctd\\u003e\\u003ca
        href=\\\"https://assets.ubuntu.com/v1/9d6302c9-IoT_challenges-removebg-preview.png\\\"\\u003ehttps://assets.ubuntu.com/v1/9d6302c9-IoT_challenge[...]
