interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_embed=true
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body:
      string: '[{"id":1175,"count":133,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body:
      string: '[{"id":1187,"count":111,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&categories=1175%2C1187&_embed=true
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=11&page=1&_embed=true
  response:
    body:
      string: '[{"id":109100,"date":"2022-07-05T07:21:27","date_gmt":"2022-07-05T07:21:27","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=109100"},"modified":"2022-07-05T07:21:28","modified_gmt":"2022-07-05T07:21:28","slug":"ubuntu-cloud-operator-days-tokyo-2022","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2022\/07\/05\/ubuntu-cloud-operator-days-tokyo-2022\/","title":{"rendered":"Ubuntu
        &#038; Cloud Operator Days Tokyo 2022"},"content":{"rendered":"\n<p>Canonical\/Ubuntu\u306f\u3001Cloud
        Operator Days Tokyo 2022\u306b\u30b9\u30dd\u30f3\u30b5\u30fc\u3068\u3057\u3066\u5354\u8cdb\u3044\u305f\u3057\u307e\u3059\u3002<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/3c93\/1500x500.jpeg\"
        alt=\"\" class=\"wp-image-109101\"\/><\/figure>\n\n\n\n<p>2022\u5e746\u670827\u65e5
        \u304b\u3089\u914d\u4fe1\u958b\u59cb\u3055\u308c\u308b\u30aa\u30f3\u30c7\u30de\u30f3\u30c9\u30bb\u30c3\u30b7\u30e7\u30f3\u3067\u306f\u3001Director
        of Field Engineering APAC \u306e\u6751\u7530 \u4fe1\u4eba\u306b\u3088\u308b\u300c\u4eca\u65e5\u304b\u3089\u306f\u3058\u3081\u308b\u6a5f\u68b0\u5b66\u7fd2\/MLOp[...]
