interactions:
- request:
    body: params=%7B%22category_id%22%3A%22113%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/14/run
  response:
    body:
      string: "{\"success\":true,\"errors\":[],\"duration\":12.3,\"result_count\":17,\"params\":{\"category_id\":\"113\"},\"columns\":[\"cooked\",\"raw\",\"deleted_at\",\"title\",\"created_at\",\"updated_at\",\"id\",\"slug\"],\"default_limit\":1000,\"relations\":{},\"colrender\":{},\"rows\":[[\"\\u003cdiv
        class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003eKey\\u003c/th\\u003e\\n\\u003cth\\u003eValue\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003etitle\\u003c/td\\u003e\\n\\u003ctd\\u003e\u30B5\u30A4\u30D0\u30FC\u30C0\u30A4\u30F3\u3001\\u003cbr\\u003eSnap\u3092\u4F7F\u3063\u3066\u73FE\u5834\u306E\u6E05\u6383\\u003cbr\\u003e\u30ED\u30DC\u30C3\u30C[...]
