@charset "UTF-8";

.row {
  margin: 0;
  padding: 2rem 1rem .5rem;

  @media screen and (min-width: 768px) {
    padding: 5rem 0 4rem;
  }
}

.row-hero {
  margin-top: 4rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    padding-top: 2rem;
  }
}

footer.row {
  padding: 1rem 0;
}

.box-grid-wrap {
  margin: 2rem 0;
}

.vertical-divider {

  > div {
    border-right: 1px dotted #aea79f;
    padding-right: 1rem;

    &:last-child {
      border: 0;
      padding-right: 0;
    }
  }
}
