@charset "UTF-8";

html,
body {
  overflow-x: hidden;
}

.row {
  margin: 0;
  padding: 2rem 1rem .5rem;

  @media screen and (min-width: $breakpoint-large) {
    padding: 5rem 0 4rem;
  }
}

.row-hero {
  margin-top: 2rem;

  @media screen and (min-width: $breakpoint-medium) {
    margin-top: 0;
    padding-top: 2rem;
  }
}

.box-grid-wrap {
  margin: 2rem 0;
}

.footer.row {
  padding: 1rem 0;
}
