@mixin jp-p-navigation {
  .p-navigation {
    @include vf-navigation-pattern (
      $background-color: $color-navigation-background,
      $border-color: transparent,
      $text-color: $color-x-light
    );

    &__english-link {
      display: none;
      float: right;
      padding: .75rem 1rem;
    }

    @media (max-width: $breakpoint-navigation-medium) {
      background-color: $color-brand;

      .row {
        display: block;
      }

      &__links {
        background-color: $color-navigation-background;
        width: 100%;
      }

      &__toggle--open,
      &__toggle--close {
        float: right;
      }

      &__english-link {
        display: block;
      }
    }

    &__logo {
      background: $color-brand;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__image {
      max-height: 1.5rem;
      max-width: 5.0625rem;
    }
  }
}
