@mixin jp-p-lists {
  @include jp-p-inline-list-icons;
  @include jp-p-list-ticked;
}

@mixin jp-p-inline-list-icons {
  $color-twitter: #111;
  $color-google: #dc4e41;
  $color-linkedin: #0274b3;
  $color-instagram: #111;
  $color-facebook: #3b5898;
  $color-rss: #ea781a;

  %list-link {
    display: block;
    fill: $color-mid-dark;
    height: $sp-x-large;
    width: $sp-x-large;
  }

  .p-inline-list-icons {
    .p-inline-list__item {
      display: inline-block;
      line-height: 1rem;
      vertical-align: middle;
    }

    .p-inline-list__link {
      &--twitter {
        @extend %list-link;
      }

      &--google {
        @extend %list-link;
      }

      &--facebook {
        @extend %list-link;
      }

      &--linkedin {
        @extend %list-link;
      }

      &--instagram {
        @extend %list-link;
      }
    }
  }
}

@mixin jp-p-list-ticked {
  .p-list--ticked {
    @extend %vf-clearfix;
    @extend %vf-list;

    .p-list__item {
      @extend %vf-list-item;

      border-bottom: 1px solid $colors--light-theme--border-default;
      padding-left: 2rem;
      position: relative;

      &::before {
        @extend %icon;
        @include vf-icon-success-grey($color-mid-dark);

        content: "";
        left: 0;
        position: absolute;
        top: 0.9rem;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
