@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

// scaleIn
@keyframes scale-in {
  0% {
    background-size: 0;
  }

  100% {
    background-size: 100%;
  }
}

// scaleInPop
@keyframes scale-in-pop {
  0% {
    background-size: 0;
  }

  60% {
    background-size: 100%;
  }

  100% {
    background-size: 90%;
  }
}

// rotateIn
@keyframes rotate-in {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
