@import "settings_general";
@import "settings_colors";
@import "vanilla-framework/scss/build";

// Local patterns
@import "pattern_hero";
@import "pattern_contextual-footer";
@import "pattern_pie-chart";
@import "pattern_pull-quotes";
@import "pattern_table";
@import "patterns_blog-post";
@import "patterns_blog-card";
@import "utility_crop";
@import "pattern_takeovers";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

@include blog-p-post;
@include blog-p-card;
@include blog-u-crop;
@include jp-p-contextual-footer;
@include jp-p-hero;
@include jp-p-pie-chart;
@include jp-p-pull-quotes;
@include jp-p-table;
@include jp-p-takeovers;

// Remove all max widths on headings
.u-align--center h1,
.u-align--center h2,
.u-align--center h3,
.u-align--center h4,
.u-align--center .p-heading--four,
.u-align--center h5,
.u-align--center h6,
.u-align--center p {
  max-width: none;
}

// XXX KW 2019-01-11 Japanese quotes fix
.p-pull-quote > p:first-of-type::before {
  left: -2rem;
  top: 0;
}

.p-pull-quote > p:last-of-type::after {
  margin-left: 1.5rem;
  margin-top: 0;
}

// Styling for ubuntu navigation logo for engage pages
.navigation-logo-engage {
  margin-top: -2.2rem;
  padding-bottom: 1.75rem;

  @media screen and (max-width: $breakpoint-large - 1px) {
    padding-top: 2rem;
  }

  a img {
    width: 143px;
  }
}

// Homepage takeover animation
@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SlideInFromRight {
  0% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromLeft {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

/* stylelint-disable declaration-colon-newline-after */
.p-takeover-animation {
  animation: FadeIn map-get($animation-duration, "snap")
    map-get($animation-easing, "in");
  animation-delay: 2.5s;
  animation-fill-mode: backwards;

  &.is-loaded {
    animation-delay: 0s !important;

    .col-7 {
      animation: SlideInFromLeft map-get($animation-duration, "fast")
        map-get($animation-easing, "out");
    }

    .col-5 {
      animation: SlideInFromRight map-get($animation-duration, "fast")
        map-get($animation-easing, "out");
    }
  }

  &.is-loading {
    animation-delay: 500s !important;
  }
}
/* stylelint-enable declaration-colon-newline-after */
