{% extends "_base/base.html" %}

{% block title %}Ubuntu Advantageエンタープライズ向けサポート | Ubuntu{% endblock %}

{% block meta_description %}Landscapeは、CanonicalのサービスプログラムであるUbuntu Advantageで提供されるシステム管理ツールです。Ubuntuマシンの大規模なデプロイをまとめて簡単に管理し、大規模なデスクトップ、サーバー、クラウドのインスタンスのネットワークのサポートにおいてコスト効率を大幅に{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1xmk7zYUzWILnbW3RxGtC9c9stYYEFtKBytETlIgyHYE/edit{% endblock meta_copydoc %}

{% block outer_content %}
<section class="p-strip has-background is-deep is-bordered">
  <div class="row u-equal-height">
    <div class="col-7">
      <h1>Ubuntu Advantageエンタープライズ向けサポート</h1>
      <p>Canonicalが提供するUbuntu Advantageは、お客様のエンタープライズ向けUbuntuのデプロイをサポートおよび保証します。Ubuntu Advantageは、ツール、ビットストリーム、サポートサービスなどが含まれた多様なパッケージで利用できます。ほとんどのパッケージには、Landscape（セキュリティ監査とコンプライアンスのためのUbuntuシステム管理ツール）と、Canonical Livepatch Service（Ubuntuシステムを再起動せずにクリティカルなカーネルの修正を適用可能）が含まれています。</p>
      <p>
        <a href="/contact-us?product=support" class="p-button--positive"><span class="p-link--external">お問い合わせ</span></a>
        <a href="/enterprise-support/plans-and-pricing" class="p-button--neutral">プランと価格</a>
      </p>
    </div>
    <div class="col-5 u-align--center u-vertically-center u-hide--small">
      <img alt="" src="{{ ASSET_SERVER_URL }}11da76f5-image-management.svg">
    </div>
  </div>
</section>
<section class="p-strip is-deep is-bordered">
  <div class="row">
    <h2>Ubuntu Advantageをお勧めする理由</h2>
    <ul class="p-matrix is-trisected u-clearfix">
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">エンタープライズレベルのセキュリティを手頃な価格で提供</h3>
          <p class="p-matrix__desc"><a href="#livepatch" class="p-matrix__link">Canonical Livepatch Service</a>など、最新のソフトウェアと予防的なサポートサービスを利用できます。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">知的財産の法的保証</h3>
            <p class="p-matrix__desc">Ubuntu Assurance Programmeは、知的財産の侵害の申し立てに対する補償を提供します。</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">ワールドクラスのテクニカルチームとライブラリを利用可能</h3>
          <p class="p-matrix__desc">世界有数のUbuntuエキスパート、そして技術的な問題に関する記事のオンラインライブラリである専用のCanonical Knowledge Baseを利用できます。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">24時間、電話とオンラインでサポート</h3>
          <p class="p-matrix__desc">24時間、世界中どこでもUbuntuのデプロイに対応します。またオンラインポータルで進捗の追跡も可能です。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">認定テクノロジー</h3>
          <p class="p-matrix__desc">すべての大手ソフトウェアベンダー、ハードウェアベンダー、システムインテグレーター、クラウドプロバイダーがUbuntu上で各社のテクノロジーを認定済みです。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">Landscapeによるサーバー管理</h3>
          <p class="p-matrix__desc"><a href="#landscape">Landscape</a> は、拡大を続けるデスクトップ、サーバー、クラウドの大規模ネットワークをサポートおよびモニタリングするための、最もコスト効率の良いツールです。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">ESM</h3>
          <p class="p-matrix__desc">Ubuntu 12.04 LTSのユーザーは<a href="#esm">Extended Security Maintenance (ESM)</a>によって、安全なプライベートアーカイブを通じたカーネルのセキュリティ修正を継続的に受けられます。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">Livepatch</h3>
          <p class="p-matrix__desc">サービスの可用性、コンプライアンス、セキュリティの向上のため、Canonicalの<a class="p-matrix__link" href="#livepatch">Livepatch Service</a>では、再起動しなくてもカーネルパッチが適用されます。</p>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title p-heading--four">パブリッククラウド向けのUbuntu Advantage</h3>
          <p class="p-matrix__desc">Ubuntu認定パブリッククラウドでの仮想化されたワークロードを対象に設計された、柔軟性の高いUbuntu Virtual Guestオプションです。</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="p-strip is-bordered is-deep">
  <div class="row">
    <div class="ten-col push-one align-center">
      <h2 class="p-muted-heading u-align--center">Ubuntu Advantageの主な顧客</h2>
      <ul class="p-inline-images">
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}1a062141-logo-bloomberg.svg" width="187" alt="Bloomburg logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}3c7e83fc-atandt-logo.svg" width="80" alt="at&amp;t  logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}3161e6ba-logo-walmart.svg" width="210" alt="Walmart logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}03a06060-logo-deutschetelekom.svg" width="242" alt="Deutshe Telekom logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}e0f7037f-logo-ebay.svg" width="170" alt="Ebay logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}06c5609f-logo-cisco.svg" width="156" alt="Cisco logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}ddb0f9d6-logo-ntt.svg" width="71" alt="NTT logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}15e9c496-logo-bestbuy.svg" width="166" alt="Best Buy logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}0c18b0ae-paypal_logo.svg" width="166" alt="Paypal logo">
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="p-strip is-bordered" id="ubuntu-advantage">
  <div class="row">
    <h2>Ubuntu Advantageパッケージの内容</h2>
  </div>
  <div class="row u-equal-height" id="esm">
    <div class="col-7">
      <h3>Extended Security maintenance</h3>
      <p>CanonicalのUbuntuセキュリティチームによって、「high」および「critical」のCVE（共通脆弱性識別子）に対する修正プログラムが、Ubuntuメインアーカイブで通常使用されるサーバーパッケージ向けに提供されます。ESM（Extended Security Maintenance）は、安全なプライベートアーカイブを通じてUbuntu 12.04 LTSユーザーがこれまで取得していたセキュリティアップデートを継続して提供します。</p>
      <p>2017年4月に、Ubuntu 12.04 LTSは終了しました。新しいバージョンのUbuntu ServerにアップグレードできないUbuntu Advantageのお客様に対して、CanonicalはUbuntu 12.04 ESMを提供しています。ESMでは、2019年4月までカーネルおよび重要なパッケージに対してセキュリティ修正を継続的に提供します。</p>
    </div>
    <div class="col-5 u-vertically-center u-align--center u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}9e59756d-shield-ESM.svg" width="150" alt="">
    </div>
  </div>
</section>

<section class="p-strip is-bordered u-image-position" id="landscape">
  <div class="row u-vertically-center">
    <div class="col-7">
      <h3>システム管理ツール：Landscape</h3>
      <p>Landscapeによって毎日の管理に対する労力が軽減されます。Landscapeは、拡大を続けるデスクトップ、サーバー、クラウドの大規模ネットワークをサポートおよびモニタリングするための、最もコスト効率の良いツールです。</p>
      <p>インフラストラクチャ管理のための機能</p>
    </div>
    <div class="col-5 u-align--center u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}b89de9f4-feature.png?w=393" width="393" alt="screenshot of Landscape">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="p-list is-split" style="margin-top: 2rem; ">
        <li class="p-list__item is-ticked">単一インターフェイスから物理的、仮想化、およびクラウドシステムの自動更新および管理</li>
        <li class="p-list__item is-ticked">CanonicalのリファレンスアーキテクチャOpenStackクラウドの全自動デプロイ</li>
        <li class="p-list__item is-ticked">マシンの大規模なモニタリングと管理</li>
        <li class="p-list__item is-ticked">セキュリティとコンプライアンスの維持</li>
        <li class="p-list__item is-ticked">インベントリの管理</li>
        <li class="p-list__item is-ticked">既存システムとの統合</li>
        <li class="p-list__item is-ticked">パッケージのインストール、アップグレード、ダウンロード</li>
        <li class="p-list__item is-ticked">ロールベースアクセス</li>
        <li class="p-list__item is-ticked">Canonical livepatch service</li>
      </ul>
      <p>
        <a href="/enterprise-support/plans-and-pricing#landscape" class="p-button--positive">Landscapeのプランと価格</a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered" id="livepatch">
  <div class="row u-vertically-center">
    <div class="col-6 suffix-1 u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}4d62c90a-applying-Livepatches.png?w=393" width="393" alt="Screenshot of applying livepatches">
    </div>
    <div class="col-6">
      <h3>Canonical Livepatch Service</h3>
      <p>再起動を行わずにクリティカルなカーネルパッチの適用が可能です</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">単一インターフェイスから物理的、仮想化、およびクラウドシステムの自動更新および管理</li>
        <li class="p-list__item is-ticked">システムの再起動なしで修正を自動的に適用</li>
        <li class="p-list__item is-ticked">ダウンタイムを減らし、Ubuntu LTSシステムのセキュリティとコンプライアンスを維持</li>
        <li class="p-list__item is-ticked">すべてのUbuntu Advantageサポートパッケージに搭載</li>
        <li class="p-list__item is-ticked">Ubuntu 14.04 LTS以降のLTSベースのシステムで利用可能</li>
      </ul>
    </div>
  </div>
</section>
<section class="p-strip is-bordered">
  <div class="row">
    <blockquote class="p-pull-quote">
      <p>Livepatchは技術とビジネスの両面で夢をかなえてくれました。現在当社のUbuntuシステムはほとんど再起動の必要がなく、サービスを継続できています。これはユーザーやお客様の満足度やロイヤルティに大きな違いをもたらします。</p>
      <cite class="p-pull-quote__citation">DeNA、IT基盤部、廣瀬正明氏</cite>
    </blockquote>
  </div>
</section>
<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2>Ubuntu Advantageの入手</h2>
      <p>Livepatch、Extended Security Maintenance、Landscapeシステム管理はすべてUbuntu Advantageで提供されます。お客様の企業のニーズに最適なサポートパッケージをお勧めします。</p>
      <p><a href="/enterprise-support/plans-and-pricing" class="p-button--positive">プランと価格</a> <a href="/contact-us/product=ua" class="p-button--neutral">お問い合わせ</a></p>
    </div>
    <div class="col-4 u-hide--small u-align--center u-vertically-center">
      <img src="{{ ASSET_SERVER_URL }}eb4f6183-picto-safety-orange.svg" width="150" alt="Community">
    </div>
  </div>
</section>
<section class="p-strip p-contextual-footer">
  <div class="row">
    <div class="p-divider">
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">プランと価格</h3>
        <p>Canonicalの製品とサービスに関する詳細</p>
        <a href="/enterprise-support/plans-and-pricing" class="p-button--positive">プランと価格</a>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">コミュニティサポート</h3>
        <p>お困りの場合は、ヘルプをいつでもご利用いただけます</p>
        <a href="https://askubuntu.com/" class="p-button--positive">Ask Ubuntu</a>
      </div>
      {% include 'shared/_footer_feed.html' %}
    </div>
  </div>
</section>

{% endblock %}
