<div class="blog-p-card--muted">
  <header class="blog-p-card__header">
    <h5 class="p-muted-heading u-no-margin--bottom">ニュースレターのサインアップ</h5>
  </header>

  <div class="blog-p-card__content">
    <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_3659" onsubmit="ga('send', 'Newsletter', 'Signup', 'New homepage newsletter signup');">
      <h3 class="p-card--title p-heading--4">Ubuntuニュースレターを購読</h3>

      <div>
        <label>
          <span class="u-no-margin--top">メールアドレス:<span>*</span></span>
          <input required="" id="email" name="email" maxlength="255" type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$">
        </label>
      </div>

      <label for="canonicalUpdatesOptIn"><input name="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes" type="checkbox">Canonical の製品やサービスについての情報を受け取ることに同意します。</label>

      <p>
        <small>お客様が購読登録を行われる場合、以下の条件に同意されたことになります。<a href="https://ubuntu.com/legal/data-privacy/newsletter">Canonicalのプライバシーに関するお知らせ</a><a href="https://ubuntu.com/legal/data-privacy">個人情報保護ポリシー</a></small>
      </p>

      <div>
        <span class="p-card--content">
          <button type="submit" class="u-no-margin--bottom">送信</button>
        </span>
        <input value="3659" name="formid" type="hidden">
        <input type="hidden" name="Consent_to_Processing__c" value="yes" />
        <input type="hidden" name="returnURL" aria-label="returnURL" value="https://jp.ubuntu.com/thank-you">
      </div>
    </form>
  </div>
</div>
