{% extends "_base/base.html" %}

{% block title %}404: ページが見つかりません | Ubuntu{% endblock %}

{% block header %}
<div class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6">
      <img src="{{ ASSET_SERVER_URL }}18907710-image-404.svg" alt="" />
    </div>
    <div class="col-6">
      <h1>404: ページが見つかりません</h1>
      <p class="p-heading--five">申し訳ありませんが、お探しのページが見つかりません。</p>
      <p>If you think this is an error on our site, please <a href="https://github.com/canonical-websites/jp.ubuntu.com/issues/new">file a bug</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
