{% extends "_base/base.html" %}

{% block title %}500: サーバーエラー | Ubuntu{% endblock %}

{% block header %}
<div class="p-strip">
  <div class="row">
    <div class="col-6">
      <img src="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/94daa2fb-error404-hero-full-canonical.png" alt="" />
    </div>
    <div class="col-6">
      <h1>500: サーバーエラー</h1>
      <p class="p-heading--5">申し訳ありませんが、サーバーに問題があります。</p>
      <p>ページを更新してください。</p>
      <p>If you continue to see this error page, please <a href="https://github.com/canonical-websites/jp.ubuntu.com/issues/new">file a bug</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
