{% extends "_base/base.html" %}

{% block title %}500 Server Error | The leading OS for PC, tablet, phone and cloud | Ubuntu{% endblock %}

{% block extra_body_class %}error500{% endblock %}

{% block header %}
<div class="row no-border hero-box">
	<div class="inner-wrapper">
		<div class="six-col">
			<img src="{{ ASSET_SERVER_URL }}94daa2fb-error404-hero-full-canonical.png" alt="Error blob" />
		</div>
		<div class="six-col last-col">
			<h1>500: Server Error</h1>
			<p class="intro">Sorry, there is a problem with our server.</p>
			<p>Please try refreshing the page. If you continue to see this error page,
				please <a href="https://bugs.launchpad.net/ubuntu-website-content/+filebug">file a bug</a>.
			</p>
		</div>
	</div>
</div>
{% endblock %}
