{% extends "_base/base.html" %}

{% block title %}500: Server Error | Ubuntu{% endblock %}

{% block header %}
<div id="main-content" class="u-no-margin--top">
  <div class="p-strip">
    <div class="row">
      <div class="col-6">
        <img src="{{ ASSET_SERVER_URL }}94daa2fb-error404-hero-full-canonical.png" alt="" />
      </div>
      <div class="col-6">
        <h1>500: Server Error</h1>
        <p class="p-heading--five">Sorry, there is a problem with our server.</p>
        <p>Please try refreshing the page. If you continue to see this error page, please <a href="https://github.com/canonical-websites/jp.ubuntu.com/issues/new">file a bug</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}