{% extends "_base/base.html" %}
{% set active_page = "download" %}

{% block title %}Ubuntuを入手する | Ubuntu{% endblock %}

{% block meta_description %}Ubuntuは、スマートフォン、タブレット端末、PCからサーバー、クラウドまであらゆる環境で動作するオープンソースのソフトウェアプラットフォームです。{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1Oo1RGknik6ohMboaw66HRbpqDOF1sChJGNQrSoyUxio/edit#{% endblock meta_copydoc %}

{% block outer_content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h1>Ubuntuを入手する</h1>
      <p>Ubuntuはダウンロードから、使用、共有まで、すべて無料でご利用いただけます。</p>
    </div>
  </div>
</section>

{# desktop #}
<section class="p-strip--light is-bordered">
  <div class="row">
    <h2>Ubuntu Desktop</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <p>現在お使いのオペレーティングシステムがWindowsやMac OSの場合でも、Ubuntuデスクトップ版をダウンロードして置き換え、または共存が可能です。</p>
      <p><a class="p-link--external" href="https://www.ubuntu.com/desktop">Ubuntu Desktopの詳細</a></p>
      <p>アップグレードの場合は、<a href="https://tutorials.ubuntu.com/tutorial/tutorial-upgrading-ubuntu-desktop" class="p-link--external">シンプルガイドをご覧ください</a></p>
    </div>
    <div class="col-6">
      <p>推奨システム：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">2 GHzデュアルコアプロセッサ以上</li>
        <li class="p-list__item is-ticked">2 GBシステムメモリ</li>
        <li class="p-list__item is-ticked">25 GBのハードドライブ空き容量</li>
        <li class="p-list__item is-ticked">DVDドライブまたはUSBポート（インストールメディアとして使用）</li>
        <li class="p-list__item is-ticked">インターネットアクセス（推奨）</li>
      </ul>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Ubuntu Desktop 18.04.3 LTS</h3>
      <div class="p-card__content">
        <p>デスクトップPCおよびノートPC向けUbuntu LTS版の最新バージョンをダウンロードいただけます。LTSはlong-term support（長期サポート）の略称です。2023年 4 月までの5 年間、無料のセキュリティアップデートおよびメンテナンスアップデートが保証されています。</p>
        <p><a class="p-button--positive row" href="https://www.ubuntu.com/download/desktop/thank-you?version=18.04.3&architecture=amd64"><span class="p-link--external">ダウンロード</span></a></p>
        <p><a class="p-link--external" href="https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes">Ubuntu 18.04 LTS release notes</a></p>
      </div>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">Ubuntu Desktop 19.04</h3>
      <div class="p-card__content">
        <p>デスクトップPCおよびノートPC向けのUbuntuオペレーティングシステムの最新バージョンです。Ubuntu 19.04 では、2019年7月までの9か月間、セキュリティアップデートおよびメンテナンスアップデートが提供されます</p>
        <p><a class="p-button--neutral row" href="https://www.ubuntu.com/download/desktop/thank-you/?version=19.04&architecture=amd64"><span class="p-link--external">ダウンロード</span></a></p>
        <p><a class="p-link--external" href="https://wiki.ubuntu.com/DiscoDingo/ReleaseNotes">Ubuntu 19.04 release notes</a></p>
      </div>
    </div>
  </div>
</section>

{# server #}
<section class="p-strip--light is-bordered">
  <div class="row">
    <h2>Ubuntu Server</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <p>シンプルなファイルサーバーの構成から 5万ノードのクラウド構築までどのようなケースでも、 5年間の無料アップグレードが保証されたUbuntu Serverをご利用いただけます。</p>
      <p><a class="p-link--external" href="https://www.ubuntu.com/server">Ubuntu Server の詳細</a></p>
    </div>
    <div class="col-6">
      <p>その他のアーキテクチャ</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked"><a class="p-link--external" href="https://www.ubuntu.com/download/server/arm">Ubuntu Server for ARM</a></li>
        <li class="p-list__item is-ticked"><a class="p-link--external" href="https://www.ubuntu.com/download/server/power">Ubuntu for POWER</a></li>
        <li class="p-list__item is-ticked"><a class="p-link--external" href="https://www.ubuntu.com/download/server/s390x">Ubuntu for IBM Z</a></li>
      </ul>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Ubuntu Server 18.04.3 LTS</h3>
      <div class="p-card__content">
        <p>Ubuntu ServerのLTS版には、OpenStackのQueensリリースが含まれ、2023年4月までのサポートが保証されています。64ビット版のみの提供です。</p>
        <p><a class="p-button--positive row" href="https://www.ubuntu.com/download/server/thank-you?version=18.04.3&architecture=amd64"><span class="p-link--external">ダウンロード</span></a></p>
        <p><a class="p-link--external" href="https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes">Ubuntu 18.04 LTS release notes</a></p>
      </div>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">Ubuntu Server 19.04</h3>
      <div class="p-card__content">
        <p>Ubuntu Serverの最新バージョンです。2019年7月までの9か月のセキュリティアップデートとメンテナンスアップデートが含まれます。</p>
        <p><a class="p-button--neutral row" href="https://www.ubuntu.com/download/server/thank-you/?version=19.04&architecture=amd64"><span class="p-link--external">ダウンロード</span></a></p>
        <p><a class="p-link--external" href="https://wiki.ubuntu.com/DiscoDingo/ReleaseNotes">Ubuntu 19.04 release notes</a></p>
      </div>
    </div>
  </div>
</section>


{# IoT #}
<section class="p-strip is-bordered">
  <div class="row">
    <h2>Ubuntu for IoT</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Snappy Ubuntu Coreの試用をご希望される開発者向けです。新しくトランザクション下においてアップデートされた、クラウドやデバイス向けUbuntuです。</p>
      <p><a class="p-button--neutral row" href="https://www.ubuntu.com/download/iot"><span class="p-link--external">ダウンロード</span></a></p>
    </div>
    <div class="col-6">
      <p>利用可能な環境：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Raspberry Pi 2または3</li>
        <li class="p-list__item is-ticked">Raspberry Pi Compute Module 3</li>
        <li class="p-list__item is-ticked">Intel NUC</li>
        <li class="p-list__item is-ticked">KVM</li>
        <li class="p-list__item is-ticked">Intel Joule</li>
        <li class="p-list__item is-ticked">Qualcomm Dragonboard 410c</li>
        <li class="p-list__item is-ticked">Samsung Artik 5または10</li>
      </ul>
    </div>
  </div>
</section>

{# cloud #}
<section class="p-strip is-bordered">
  <div class="row">
    <h2>Ubuntu for Cloud</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Ubuntuは、OpenStackのリファレンスOSです。1台のマシンでも利用できるCanonicalのOpenStackは、サーバーを追加するだけでクラスターでの本番環境のクラウドの構築が開始できます。</p>
      <p><a class="p-button--neutral row" href="https://www.ubuntu.com/download/cloud"><span class="p-link--external">Ubuntu Cloudのダウンロード</span></a></p>
    </div>
    <div class="col-6">
      <p>利用可能な環境：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Google Cloud Platform</li>
        <li class="p-list__item is-ticked">Amazon Web Services</li>
        <li class="p-list__item is-ticked">Microsoft Azure</li>
        <li class="p-list__item is-ticked">IBM Cloud</li>
        <li class="p-list__item is-ticked">Rackspace</li>
        <li class="p-list__item is-ticked">Oracle</li>
      </ul>
    </div>
  </div>
</section>

{# flavours and alternative downloads #}
<section class="p-strip">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>Ubuntu flavours</h3>
      <p>Ubuntuのパッケージおよびアップデートの完全アーカイブに裏付けられたUbuntu flavoursは、さまざまなデフォルトのアプリケーションや設定を通してユニークなUbuntuの体験を提供します。</p>
      <p><a class="p-button--neutral row" href="https://www.ubuntu.com/download/flavours"><span class="p-link--external">Ubuntu flavoursについて</span></a></p>
    </div>
    <div class="col-6 p-divider__block">
      <h3>その他のダウンロード方法</h3>
      <p>その他、torrent（より高速にダウンロードできる可能性があります）や、過去のシステムおよび特殊な構成向けのネットワークインストーラー、新旧リリースの地域別DVDイメージのミラーサイトへのリンクなどの方法でUbuntuを入手できます。</p>
      <p><a class="p-button--neutral row" href="https://www.ubuntu.com/download/alternative-downloads"><span class="p-link--external">その他のダウンロード方法</span></a></p>
    </div>
  </div>
</section>

{# contextual footer #}
<section class="p-strip p-contextual-footer">
  <div class="row">
    <div class="p-divider">
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">エンタープライズ向けサポート</h3>
        <p>Ubuntu AdvantageとLandscapeの詳細については、こちらをご覧ください。</p>
        <p><a href="/enterprise-support">Ubuntu Advantage&nbsp;&rsaquo;</a></p>
      </div>
      {% include 'shared/_footer_feed.html' %}
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">ヘルプ</h3>
        <p>お困りの場合は、以下のヘルプをいつでもご利用いただけます。</p>
        <ul class="p-list">
          <li><a class="p-link--external" href="https://tutorials.ubuntu.com/tutorial/tutorial-how-to-verify-ubuntu/">ダウンロードの検証</a></li>
          <li><a class="p-link--external" href="https://docs.ubuntu.com/">Ubuntuのドキュメントs</a></li>
          <li><a class="p-link--external" href="https://askubuntu.com/"">Ask Ubuntu</a></li>
          <li><a class="p-link--external" href="http://discourse.ubuntu.com/">Ubuntu Community hub</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
