{% extends "base_index.html" %}

{% block title %}Ubuntu{% endblock %}
{% block meta_description %} Ubuntu は、OpenStack クラウドを構築する際のオープンソース ソフトウェア プラットフォームとして、そして業界をリードするパブリック クラウドのゲスト オペレーティング システムとして、世界で最も愛用されている製品です。 {% endblock %}
{% block meta_keywords%} OpenStack, クラウド, Ubuntu OpenStack, プライベート クラウド, パブリック クラウド, オープン ソース, IAAS, インフラストラクチャ, サービス, Ubuntu, Ubuntu クラウド インフラストラクチャ,
Ubuntu クラウド ゲスト, Juju, Maas, オーケストレーション, 展開, プロビジョニング, Jumpstart, Amazon, AWS, Joyent, IBM, HP Cloud, Microsoft Azure, ゲスト,
OS, Linux, ディストリビューション, OpenStack, Ubuntu OpenStack, Ubuntu Cloud, サーバー, タブレット, スマートフォン, 電話, Windows の代替, Mac の代替, フリー ソフトウェア,
オープン ソース, シン クライアント, Juju, MAAS, Landscape, Ubuntu Advantage, Ubuntu のダウンロード, 導入, サービス提供, サービス オーケストレーション, サービス, 商用サポート,
有償サポート, 長期サポート, LTS, 14.04, 15.10, 16.04, Trusty Tahr, Icehouse, Juno, Kilo, Mitaka, Utopic Unicorn, Xenial Xerus {% endblock %}

{% block content %}
<div id="main-content" class="u-no-margin--top">
  <!-- Section 1: Hero -->
  <div class="p-strip--image u-align--center is-bordered" style="background-image: url('https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png')">
    <div class="row">
      <div class="col-12">
        <h1>
          <img src="https://assets.ubuntu.com/v1/adac6928-ubuntu.svg" alt="Ubuntu logo">
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="p-inline-list">
          <li class="p-inline-list__item">
            <img src="https://assets.ubuntu.com/v1/034573f2-icon-intro-cloud.svg" width="100" alt="Cloud" />
          </li>
          <li class="p-inline-list__item">
            <img src="https://assets.ubuntu.com/v1/d519342f-icon-intro-server.svg" width="100" alt="Server" />
          </li>
          <li class="p-inline-list__item">
            <img src="https://assets.ubuntu.com/v1/cf8634c6-icon-intro-desktop.svg" width="100" alt="Desktop" />
          </li>
          <li class="p-inline-list__item">
            <img src="https://assets.ubuntu.com/v1/f2e3a91b-icon-intro-phone.svg" width="100" alt="Phone" />
          </li>
          <li class="p-inline-list__item">
            <img src="https://assets.ubuntu.com/v1/2fdb94f0-icon-intro-tablet.svg" width="100" alt="Tablet" />
          </li>
          <li class="p-inline-list__item">
            <img src="https://assets.ubuntu.com/v1/6ec699c2-icon-intro-iot.svg" width="100" alt="Internet of things" />
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="p-heading--four">
          クラウドからスマートフォンまで、あらゆるもので実行できる<br>オープン ソース ソフトウェア プラットフォーム
        </p>
      </div>
    </div>
  </div>

  <!-- Section 2: Ubuntu for cloud -->
  <div class="p-strip--light">
    <div class="row">
      <div class="col-6">
        <h2>Ubuntu はクラウドに最適</h2>
        <p>プライベート クラウドを構築する場合も、パブリック クラウドを利用する場合も、必要なソフトウェア インフラストラクチャ、ツール、サービスはすべて Ubuntu にお任せください。</p>

        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">OpenStack クラウドの構築に必要なものをすべて完備 </li>
          <li class="p-list__item is-ticked">業界をリードするパブリック クラウドで使用できる、Ubuntu Server の認定イメージ</li>
          <li class="p-list__item is-ticked">大規模クラウドをプロビジョニング、構築、管理、サポートするための完全なツール セット</li>
          <li class="p-list__item is-ticked">有償のサービス、ツール、および継続的な Ubuntu Advantage サポートのサブスクリプション</li>
        </ul>

        <p><a href="https://www.ubuntu.com/cloud/contact-us">Contact us to talk about your cloud needs&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 u-align--center">
        <img src="https://assets.ubuntu.com/v1/9ab659a0-Ubuntu.png" alt="Ubuntu surrounded by Openstack, BootStack, Juju, MAAS, Landscape and Cloud" />
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Section 3: Build your own cloud with Ubuntu OpenStack -->
  <div class="p-strip--accent is-dark">
    <div class="row">
      <div class="col-6">
        <h2>Ubuntu OpenStack で、プライベート クラウドを構築</h2>
        <p>Ubuntu OpenStack は、最新リリースの Ubuntu Server と最新リリースの OpenStack を組み合わせたものです。要となる OpenStack リリースは、Ubuntu LTS リリースによる 5 年間のサポート付きで、OpenStack
          の最新機能を提供します。</p>
        <p>Ubuntu には OpenStack との統合に長い歴史があるため、他の OS と比べ、クラウドのすばやい導入とシンプルな利用を実現することができます。</p>
        <p><a class="p-button--neutral" href="https://www.ubuntu.com/download/cloud">Build your own cloud</a></p>
      </div>
      <div class="col-6 prefix-1">
        <blockquote>
          <p>Ubuntu Server は、OpenStack の実行に最もよく使われているオペレーティング システムの順位において、過去 6 か月間で 2 位との差を
            10% も広げ、最上位に君臨しています</p>
          <cite>OpenStack User Survey、 2015 年 10 月</cite>
        </blockquote>
      </div>
    </div>
  </div>

  <!-- Section 4: A complete set of cloud tools -->
  <section class="p-strip--image is-bordered" style="background-image: url('https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png')">
    <div class="row">
      <div class="col-12">
        <h2>完全なクラウド ツール セット</h2>
        <p>Ubuntu は、クラウドを長期的に構築、拡張、および管理するためのツールを提供します。</p>
      </div>
    </div>
    <div class="row u-equal-height">
      <div class="p-card col-6">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/87452013-image-juju.svg" alt="Juju logo" />
          <h3 class="p-heading-icon__title">Juju</h3>
        </div>
        <p>フリー ソフトウェア</p>
        <p>Juju はサービス モデリングの革命児です。MySQL や Hadoop などのサービスを、Ubuntu を実行するあらゆるクラウドに瞬時に展開できます。</p>
        <p>
          <a href="https://jujucharms.com">
            Learn more about Juju&nbsp;&rsaquo;
          </a>
        </p>
      </div>
      <div class="p-card col-6">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/5fe8ec23-picto-deployanywhere-orange.svg" alt="Deploy anywhere pictogram" />
          <h3 class="p-heading-icon__title">Autopilot</h3>
        </div>
        <p>10 台分まで無償</p>
        <p>Autopilot は、OpenStack クラウドを開発、展開、および拡張するための新しい効果的な方法です。</p>
        <p>
          <a href="http://www.ubuntu.com/download/cloud">
            Learn more about Autopilot&nbsp;&rsaquo;
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="u-equal-height u-no-margin--top">
        <div class="p-card col-6">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/9fbc1214-maas.svg" alt="MAAS logo" />
            <h3 class="p-heading-icon__title">MAASt</h3>
          </div>
          <p>フリー ソフトウェア</p>
          <p>MAAS は、サーバーの初期セットアップと設定を行い、サーバーをネットワークに統合します。</p>
          <p>
            <a href="http://maas.io">
              Learn more about MAAS&nbsp;&rsaquo;
            </a>
          </p>
        </div>
        <div class="p-card col-6">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/70b5df6e-landscape-logo.svg" alt="Landscape logo" />
            <h3 class="p-heading-icon__title">Landscape</h3>
          </div>
          <p>30 日間無償</p>
          <p>Landscape は、デスクトップからサーバー、パブリック クラウド、プライベート クラウドまで、あらゆる Ubuntu システムにとって最高のシステム管理ツールです。</p>
          <p>
            <a href="http://www.ubuntu.com/management/working-with-landscape">
              Learn more about Landscape&nbsp;&rsaquo;
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 5: Need services or support? -->
  <div class="p-strip is-bordered">
    <div class="row">
      <div class="col-6 suffix-1">
        <h2>サービスまたはサポートが必要ですか?</h2>
        <p>Ubuntu の背景にある Canonical は、Ubuntu や OpenStack の開発に関わったエンジニアから直接受けられるオンサイトのコンサルティング サービスとトレーニングを提供しています。継続的なサポートとして、クラウドが稼働したら、Landscape
          を含むサービス パッケージの Ubuntu Advantage をサブスクライブすることができます。Landscape は、Canonical のエンタープライズ向けクラウド管理ソフトウェアです。</p>
        <p>
          <a href="http://www.ubuntu.com/management/contact-us">Contact Us&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-6">
        <img src="https://assets.ubuntu.com/v1/92523f2c-autopilot.jpg" alt="Autopilot screenshot" />
      </div>
    </div>
  </div>

  <!-- Section 6: Number one for network operators -->
  <section class="p-strip--image is-bordered" style="background-image: url('https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png')">
    <div class="row u-equal-height">
      <div class="col-7 suffix-3 prefix-1 u-hidden--small u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/3512b90c-picto-partner-orange.svg" alt="Partners pictogram" />
      </div>
      <div class="col-5">
        <h2>ネットワーク オペレーターのトップ</h2>
        <p>電話会社やサービス プロバイダーの方で、お客様に NFV のようなクラウド サービスを提供しようと考えている場合、Ubuntu OpenStack 以上に信頼性が高く、愛用されているインフラストラクチャはありません。私たちには、世界的大手の電話会社やサービス
          プロバイダーのほとんどを、OpenStack クラウドの概念段階から生産段階まで支援してきた実績があります。</p>
        <p><a href="http://www.ubuntu.com/management">Learn more about Ubuntu Advantage&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </section>

  <!-- Section 7: Using Ubuntu in the public cloud -->
  <div class="p-strip is-bordered">
    <div class="row">
      <div class="col-8">
        <h2>パブリック クラウドでの Ubuntu の利用</h2>
        <p>Ubuntu は、業界をリードするパブリック クラウドのオペレーティング システムとして最も愛用され、世界で最も急成長を遂げているスケールアウト型プラットフォームです。以下に紹介しているパブリック クラウドでは、Canonical
          が作成した Ubuntu Server の認定イメージを利用できます。</p>
        <p><a href="http://www.ubuntu.com/cloud/public-cloud">Read more about using Ubuntu in the cloud&nbsp;&rsaquo;</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="p-inline-images">
          <li class="p-inline-images__item">
            <img src="https://assets.ubuntu.com/v1/25b3d138-201509-amazon_aws_4c_en.svg" alt="Amazon Web Services logo" />
          </li>
          <li class="p-inline-images__item">
            <img src="https://assets.ubuntu.com/v1/a298e7ec-logo-hp.svg" alt="HP logo" />
          </li>
          <li class="p-inline-images__item">
            <img src="https://assets.ubuntu.com/v1/f7f8709c-logo-joyent.svg" alt="Joyent logo" />
          </li>
          <li class="p-inline-images__item">
            <img src="https://assets.ubuntu.com/v1/683950fd-logo-ibm.svg" alt="IBM logo" />
          </li>
          <li class="p-inline-images__item">
            <img src="https://assets.ubuntu.com/v1/2b5837e9-logo-microsoft-azure.svg" alt="Microsoft Azure logo" />
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="p-strip">
    <div class="row p-divider">
      <div class="col-4 p-divider__block">
        <h3>Get in touch</h3>
        <p>Contact us for more information or to discuss your specific needs.</p>
        <p><a href="http://www.ubuntu.com/cloud/contact-us">Contact us&nbsp;&rsaquo;</a></p>
      </div>

      <div class="col-4 p-divider__block">
        <form class="mktoForm mktoNoJS" action="https://pages.canonical.com/index.php/leadCapture/save" method="post">
          <h3>Sign up for news updates</h3>
          <label class="u-off-screen mktoLabel" for="Email">Your email</label>
          <input type="text" placeholder="Your email" class="mktoField mktoTextField" name="Email" id="Email" required="">
          <input class="mktFormCheckbox" name="NewsletterOpt-In" id="NewsletterOpt-In" value="yes" type="checkbox">
          <label for="NewsletterOpt-In">I would also like to receive other occasional updates from Canonical by email.</label>&nbsp;<span class="mktFormMsg"></span>
          <span class="u-off-screen"><input type="text" name="_marketo_comments" aria-label="Marketo comments" value=""></span>
          <button type="submit" class="mktoButton">Subscribe now</button>
          <input value="1959" class="mktoField mktoFieldDescriptor" name="lpId" type="hidden">
          <input value="30" class="mktoField mktoFieldDescriptor" name="subId" type="hidden">
          <input type="hidden" name="lpurl" value="https://pages.canonical.com/Insights-Subscription_Insights-Subscription-test.html?cr={creative}&amp;kw={keyword}">
          <input value="1212" class="mktoField mktoFieldDescriptor" name="formid" type="hidden">
          <input type="hidden" name="ret" value="http://ubuntu.com/cloud/newsletter-thank-you">
          <input value="066-EOV-335" class="mktoField mktoFieldDescriptor" name="munchkinId" type="hidden">
          <input type="hidden" name="kw" value="">
          <input type="hidden" name="cr" value="">
          <input type="hidden" name="searchstr" value="">
          <input type="hidden" name="_mkt_disp" value="return">
          <input type="hidden" name="_mkt_trk" value="id:066-EOV-335&amp;token:_mch-ubuntu.com-1452159305257-34800">
        </form>
      </div>

      <div class="col-4 p-divider__block">
        <h3>Ubuntu Insights</h3>
        <noscript>
          <p>Your source for Ubuntu news, articles, tutorials, e-books and everything else in-between.</p>
          <p><a href="https://insights.ubuntu.com/">View Insights</a></p>
        </noscript>
        <ul id="js-insights-feed" class="list"></ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}