{% extends "_base/base.html" %}

{% block title %}IoT | Ubuntu{% endblock %}
{% block meta_description %} Ubuntu上の自動ハードウェアGPGPUアクセラレーションを搭載したTensorflowおよびその他のAI/MLフレームワークのデフォルトプラットフォームです。CanonicalはトレーニングとK8sをベースとした機械学習の専門的知識を提供します。 {% endblock %}
{% block meta_keywords%} OpenStack, クラウド, Ubuntu OpenStack, プライベート クラウド, パブリック クラウド, オープン ソース, IAAS, インフラストラクチャ, サービス, Ubuntu, Ubuntu クラウド インフラストラクチャ,
Ubuntu クラウド ゲスト, Juju, Maas, オーケストレーション, 展開, プロビジョニング, Jumpstart, Amazon, AWS, Joyent, IBM, HP Cloud, Microsoft Azure, ゲスト,
OS, Linux, ディストリビューション, OpenStack, Ubuntu OpenStack, Ubuntu Cloud, サーバー, タブレット, スマートフォン, 電話, Windows の代替, Mac の代替, フリー ソフトウェア,
オープン ソース, シン クライアント, Juju, MAAS, Landscape, Ubuntu Advantage, Ubuntu のダウンロード, 導入, サービス提供, サービス オーケストレーション, サービス, 商用サポート,
有償サポート, 長期サポート, LTS,{% endblock %}

{% block outer_content %}
<div id="main-content" class="u-no-margin--top">
  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-8">
        <h1>IoT向けUbuntu</h1>
        <p>ホームコントロールからドローン、ロボットそして産業システムまで、Ubuntu Coreは堅牢なセキュリティ、アプリストア、信頼性の高いアップデートを提供します。Ubuntuによって開発が簡単になります。また、Snapパッケージによって、幅広い分散型デバイスに対してUbuntu Coreの安全性と信頼性が向上します。</p>
        <a href="/contact-us" class="p-button--positive">お客様のIoTのニーズに関するお問い合わせ</a></a>
      </div>
    </div>
  </section>

  <section>
    <div class="p-strip--light is-bordered">
      <div class="row">
        <h2 class="p-muted-heading u-align-text--center">大手ブランドはセキュリティ、アプリ、アップデートを理由にUbuntuを選択しています</h2>
          <div class="col-12">
            <ul class="row">
              <li class="col-2 mobile-col-2 tablet-col-2">
            <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}b1767848-2018-logo-raspberry-pi.svg" alt="Raspberry Pi">
          </li>
          <li class="col-2 mobile-col-2 tablet-col-2">
            <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}2f782e23-2018-logo-orange-pi.svg" alt="Orange Pi">
          </li>
          <li class="col-2 mobile-col-2 tablet-col-2">
            <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}9b1fe97b-2018-logo-IBM.svg" alt="IBM">
          </li>
          <li class="col-2 mobile-col-2 tablet-col-2">
            <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}94ea495b-2018-logo-Intel.svg" alt="Intel">
          </li>
          <li class="col-2 mobile-col-2 tablet-col-2">
            <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}866ced3f-2018-logo-qualcomm.svg" alt="Qualcomm">
          </li>
          <li class="col-2 mobile-col-2 tablet-col-2">
            <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}a31edc0b-2018-logo-samsung.svg" alt="Samsung">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

  <section class="p-strip is-bordered">
    <div class="row">
      <h3>Ubuntuを、IoTプロジェクトのあらゆる場面で</h3>
      <ol class="p-list-step">
        <li class="p-list-step__item col-8">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">1</span>
            設計
          </h4>
          <p class="p-list-step__content ">複数のハードウェアアーキテクチャでのラピッドプロトタイピングです。Ubuntu上で動くアプリから始め、そのアプリをSnapとしてパッケージ。すべてのLinuxディストリビューションで動作し、依存関係がバンドルされている安全なパッケージングフォーマットです。</p>
        </li>

        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">2</span>
            ビルド
          </h4>
          <p class="p-list-step__content">Canonicalの自動ビルドメカニズムまたはお客様独自のCIツールチェーンを使用して、アプリを特定のリリースチャンネル上のデバイスにプッシュ。安定版リリースを取得するデバイスと最新バージョンのコードを実行するデバイスの選択が可能です。</p>
        </li>

        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">3</span>
            管理
          </h4>
          <p class="p-list-step__content">すべてのデバイスが、サブスクライブしているリリースチャンネルから自動でアトミックアップデートを取得。カスタムチャンネルでパッチや修正をテストして、ロールバックまたはリリースをすべてのデバイスにプロモートできます。</p>
        </li>

        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">4</span>
            マネタイズ
          </h4>
          <p class="p-list-step__content">メインSnapストアをベースにしてプライベートアプリストアを構築。独自のパッケージを準備し、既存のバージョンから特定のバージョンを選んでデバイスに最適なストアをユーザーや開発者のコミュニティに提供できます。</p>
        </li>

      </ol>
    </div>
  </section>

  <section>
      <div class="p-strip--light is-bordered">
        <div class="row">
          <h3 class="u-align-text--center">すべての主要プラットフォームで、プロトタイプから本番稼働まで</h3>
            <div class="col-12 u-align--center">
              <ul class="row">
                <li class="col-3 mobile-col-3 tablet-col-3">
                  <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}4adab59f-2018-logo-arm.svg" alt="Raspberry Pi">
                </li>
                <li class="col-3 mobile-col-3 tablet-col-3">
                  <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}0970d532-2018-logo-dell.svg" alt="Orange Pi">
                </li>
                <li class="col-3 mobile-col-3 tablet-col-3">
                  <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}aeb18c52-2018-logo-qualcomm-dragon.svg" alt="Qualcomm Snapdragon">
                </li>
                <li class="col-3 mobile-col-3 tablet-col-3">
                  <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}a217a176-2018-logo-kwm.svg" alt="KVM">
                </li>
              </ul>
              <ul class="row">
              <li class="col-3 mobile-col-3 tablet-col-3">
                <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}565ea47a-2018-logo-intel-nuc.svg" alt="Intel NUC">
              </li>
              <li class="col-3 mobile-col-3 tablet-col-3">
                <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}6d4f304c-2018-logo-intel-joule.svg" alt="Intel Joule">
              </li>
              <li class="col-3 mobile-col-3 tablet-col-3">
                <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}4b9137ac-2018-logo-artik.svg" alt="Samsung Artik">
              </li>
              <li class="col-3 mobile-col-3 tablet-col-3">
                <img class="b-lazy b-loaded" src="{{ ASSET_SERVER_URL }}fac5ca7b-2018-logo-up2.svg" alt="Up2">
              </li>
            </ul>
            <p class="u-align--center"><a href="https://www.ubuntu.com/download/iot" class="p-button--neutral is-wide p-link--external">Ubuntu for IoTを入手する</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered">
        <div class="row">
          <h2>アップデートコントロールで安心を提供</h2>
          <p>オペレーティングシステムやアプリの定期的なアップデートによって継続的な攻撃からデバイスを保護し、自動でセキュリティの問題に対処します。アップデートコントロールにより、変更がメーカーまたはISVによって認定されていることが保証されます。1つのセキュリティ上の不具合が何百万ものデバイスに影響を及ぼす可能性がある場合、または不適切なアップデートによって製品のリコールが必要な場合、堅牢なプラットフォームが保証されていることで、クリティカルなインフラストラクチャの整合性に対する信頼性が高まります。</p>
        </div>
  </section>

  <section class="p-strip is-bordered">
      <div class="row u-equal-height u-vertically-center">
        <div class="col-7">
          <h2>ソフトウェア定義のデバイス向けアプリストア</h2>
          <p>最新のデバイスはソフトウェアによって定義されています。世界で最も広く信頼されている開発者向けLinuxであるUbuntuは、アプリストアやエコシステムを成長させるための人材とツールを提供しています。</p>
          <p><a href="/contact-us?iot" class="p-button--neutral">アプリストアを取得する</a></p>
        </div>
        <div class="col-4 prefix-1 u-align--center u-hide--small">
          <img src="{{ ASSET_SERVER_URL }}44fd30d7-Snap+Store+shopping+icon+darkhandle.svg" alt="" width="200">
        </div>
      </div>
        <div class="row">
            <div class="u-equal-height">
              <div class="col-6 p-card">
                <h3 class="p-card__title">ストアの管理</h3>
                <ul class="p-list p-card__content">
                    <li class="p-list__item is-ticked">デバイス全体のソフトウェアアップデートを管理するための、お客様独自のソフトウェアリポジトリ</li>
                    <li class="p-list__item is-ticked">ストアの手順と基準を自分で定義</li>
                    <li class="p-list__item is-ticked">デバイスに応じて公開アプリストアまたはプライベートリポジトリを構築</li>
                    <li class="p-list__item is-ticked">ストア継承機能を使用してリセラーモデルや豊富なアプリのエコシステムを構築</li>
                  </ul>
              </div>
              <div class="col-6 p-card">
                <h3 class="p-card__title">開発者の管理</h3>
                <ul class="p-list p-card__content">
                    <li class="p-list__item is-ticked">ストアにアクセスできる開発者を内部および外部で制限可能</li>
                    <li class="p-list__item is-ticked">内部および外部の開発者に対してアプリ申請のプロトコルを適用</li>
                    <li class="p-list__item is-ticked">ソフトウェアの開発と配布に最適なツールを開発者に提供</li>
                    <li class="p-list__item is-ticked">ストアをCI/CDやベータテストと統合</li>
                  </ul>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="u-equal-height">
              <div class="col-6 p-card">
                <h3 class="p-card__title">ユーザーの管理</h3>
                <ul class="p-list p-card__content">
                    <li class="p-list__item is-ticked">ユーザーへのソフトウェアスタックの表示／非表示を選択</li>
                    <li class="p-list__item is-ticked">選択したテスト済みのソフトウェアのダウンロードのみ許可</li>
                    <li class="p-list__item is-ticked">デバイスアクセスにより、認証されたユーザーまたはデバイスのみがストアにアクセス可能</li>
                  </ul>
              </div>
              <div class="col-6 p-card">
                <h3 class="p-card__title">継続的なマネタイゼーション</h3>
                <p class="p-card__content">アプリの追加からサポートの拡張まで、顧客に対して継続的なサービスの提供を可能にすることで、ストアでの収入源を生み出す新たな方法の開拓が可能です</p>
              </div>
            </div>
          </div>
  </section>

  <section class="p-strip is-bordered">
      <div class="row u-equal-height u-vertically-center">
        <div class="col-7">
          <h2>スマートロボットでUbuntuを実行する</h2>
          <p>自律的かつ安全、そしてアップグレード可能なUbuntuは、高度な産業用アプリケーションやインテリジェンスのための機械学習やAIを搭載したロボットやドローンのアプリに新しい波をもたらします。</p>
          <p>次のロボットはUbuntuで動かしませんか？</p>
          <p><a href="/contact-us?product=iot"class="p-button--neutral">お問い合わせ</a></p>
        </div>
        <div class="col-4 prefix-1 u-align--center u-hide--small">
          <img src="{{ ASSET_SERVER_URL }}f42b7e29-drone.svg" width="200" alt="">
        </div>
      </div>
      <div class="p-strip is-shallow">
        <div class="row">
            <div class="u-equal-height">
              <div class="col-6 p-card">
                <h3 class="p-card__title">自分で考えるロボット</h3>
                <p class="p-card__content">ROS（Robotic Operating System）はUbuntu上で構築されています。コンピュータビジョン、AIライブラリ、そして幅広いセンサーのサポートにより、ドローンから自動運転車まで、自律動作マシン向けとして最も人気のある開発環境です。</p>
              </div>
              <div class="col-6 p-card">
                <h3 class="p-card__title">業界最高レベルのセキュリティ</h3>
                <P class="p-card__content">Ubuntu Coreは、ロボットを動かすソフトウェアの整合性を確保するため、アプリケーション制限、ファイルアクセスの制限、読み取り専用アプリケーションを提供します。その結果、基板上のドライバーからロボットの動作を定義するアプリまで、設計上のセキュリティが確保されます。</P>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="u-equal-height">
              <div class="col-6 p-card">
                <h3 class="p-card__title">新しいビジネスモデル</h3>
                <p class="p-card__content">ドローンやロボット向けにアプリストアを提供することで、アップデート、アドオン機能、サポートサービス、または完全な再構成から収益を得ることができます。</p>
              </div>
              <div class="col-6 p-card">
                <h3 class="p-card__title">継続的なマネタイゼーション</h3>
                <p class="p-card__content">アプリの追加からサポートの拡張まで、顧客に対して継続的なサービスの提供を可能にすることで、ストアでの収入源を生み出す新たな方法の開拓が可能です</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <blockquote class="p-pull-quote">
                <p>ROSアプリケーションをSnapとしてデプロイできるUbuntu Core16は、ソフトウェアの管理プロセス全体をより簡単で安全にする機会を提供し、ロボティクスのデプロイにおいて開発者や企業を支援してくれます。</p>
                <cite class="p-pull-quote__citation">Open Source Robotics Foundation（OSRF 、CEO、Brian Gerkey氏</cite>
              </blockquote>
            </div>
            <div class="p-card--highlighted u-vertically-center col-6">
              <div class="col-3">
                <h4>初めてのロボット：<br> ROSとUbuntu Coreの初心者向けガイド</h4>
                <p><a href="https://blog.ubuntu.com/2017/12/19/your-first-robot-a-beginners-guide-to-ros-and-ubuntu-core-1-5" class="p-link--external">開始する</a></p>
              </div>
              <div class="col-3 u-align--right">
                <img src="{{ ASSET_SERVER_URL }}3b097358-ros_robot_2019.png" width="300">
              </div>
          </div>
          </div>
      </div>
  </section>


  <section class="p-strip is-bordered">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-7">
        <h2>Ubuntu上のデジタルサイネージとスマートディスプレイ</h2>
        <p>省スペース、完全なOpenGL、そして幅広いハードウェアでの信頼性の高いアップデートによって、Ubuntu Coreは多くのデジタルサイネージにとって最適なプラットフォームです</p>
        <p>Ubuntu Coreは4Kビデオの動作においてハードウェアのコストを削減します。低コストかつオープンソースソリューションのUbuntu Coreは、従来のサーバーをベースに構築され、24時間体制の可用性と画面の乗っ取りやその他の攻撃への耐性のある安全で安定したプラットフォームを提供します。</p>
        <p><a href="/contact-us?iot" class="p-button--neutral">デジタルサイネージに関するお問い合わせ</a></p>
      </div>
      <div class="col-4 prefix-1 u-align--center u-hide--small">
        <img src="{{ ASSET_SERVER_URL }}cb9ee959-picto-desktop-orange.svg" width="200" alt="" >
      </div>
    </div>
    <div class="row u-equal-height">
        <div class="col-4">
          <ul class="p-list">
              <li class="p-list__item is-ticked">デバイス全体のソフトウェアアップデートを管理するための、お客様独自のソフトウェアリポジトリ</li>
              <li class="p-list__item is-ticked">ストアの手順と基準を自分で定義</li>
            </ul>
        </div>
        <div class="col-4">
          <ul class="p-list">
              <li class="p-list__item is-ticked">アプリケーションの分離により、セキュリティ、堅牢性、シンプルなメンテナンスを実現</li>
              <li class="p-list__item is-ticked">アトミックアップグレード：低帯域幅、新機能の迅速な提供</li>
            </ul>
        </div>
        <div class="col-4">
          <ul class="p-list">
              <li class="p-list__item is-ticked">イノベーションの迅速化：幅広い周辺機器のサポート、Wi-Fi、3G/4G、NFC、Bluetooth、ソフトウェア定義の無線、ディープラーニング、オーディオやカメラのサポート（RealSense含む）</li>
            </ul>
        </div>
      </div>
  </section>

  <section class="p-strip is-bordered">
      <div class="row u-equal-height u-vertically-center">
        <div class="col-12">
          <h2>Ubuntu搭載のゲートウェイ</h2>
          <p>充実したネットワーキングとプロトコルのサポートを持つUbuntu Coreは、産業用ゲートウェイの最適な選択肢です。Ubuntu Coreによって産業用制御とインテリジェンスに次の波を生み出しましょう。</p>
          <p><a href="/contact-us?iot" class="p-button--neutral">お問い合わせ</a></p>
        </div>
        <div class="col-4 prefix-1 u-align--center u-hide--small">
          <img src="{{ ASSET_SERVER_URL }}0c16085c-network-equipment_2px.svg" width="200" alt="">
        </div>
      </div>
      <div class="p-strip is-shallow">
        <div class="row">
            <div class="u-equal-height">
              <div class="col-4 p-card">
                <h3 class="p-card__title">すぐれたコスト効率</h3>
                <p class="p-card__content">厳格なアプリ制御によって、複数のアプリケーションの同一ハードウェアでの動作が可能です。ライト、AC、電力を制御する3台のデバイスを1台のより柔軟なデバイスに置き換えられます。</p>
              </div>
              <div class="col-4 p-card">
                <h3 class="p-card__title">安全性と信頼性</h3>
                <P class="p-card__content">トランザクション下でのアップデートによってフェイルセーフアップグレードが保証され、機器の安全性が確保されます。定期的な信頼性の高いアップデートにより健全なエコシステムと規制に対するコンプライアンスが確保されます。</P>
              </div>
              <div class="col-4 p-card">
                <h3 class="p-card__title">多様なハードウェア</h3>
                <P class="p-card__content">ARMからIntelまで、お客様の次期デバイスに適した基板があります。プロトタイプを短時間で作成し、すぐに標準リファレンスモジュールと標準Linuxプラットフォームで構築が可能です</P>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="u-equal-height">
              <div class="col-4 p-card">
                <h3 class="p-card__title">マルチプロトコルのサポート</h3>
                <p class="p-card__content">ドローンやロボット向けにアプリストアを提供することで、アップデート、アドオン機能、サポートサービス、または完全な再構成から収益を得ることができます。</p>
              </div>
              <div class="col-4 p-card">
                <h3 class="p-card__title">エッジインテリジェンス</h3>
                <p class="p-card__content">ビデオ監視からニューラルネットワークまで、Ubuntu Coreによってネットワークエッジで複雑なオペレーションが可能になります。ゲートウェイでアプリを使用してレイテンシを低減し、ネットワークコストとクラウドストレージを節約します</p>
              </div>
              <div class="col-4 p-card">
                <h3 class="p-card__title">簡単な統合</h3>
                <p class="p-card__content">エッジゲートウェイ向けアプリケーションを簡単にすばやく作成して配布できます。Ubuntu Coreのデバイスにはアプリストアとアップデートメカニズムが含まれています</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="p-card--highlighted u-vertically-center col-8">
              <div class="col-6">
                <h4>Ubuntu CoreとKura：IoTゲートウェイ向けのフレームワーク</h4>
                <p><a href="https://blog.ubuntu.com/2018/11/10/ubuntu-core-kura-framework-iot-gateways" class="p-link--external">ホワイトペーパーのダウンロード </a></p>
              </div>
              <div class="col-6 u-align--center">
                <img src="{{ ASSET_SERVER_URL }}40b41c1c-Kura_2019.png" width="200" alt="Kura">
              </div>
          </div>
        </div>
      </div>
  </section>

  <section class="p-strip is-bordered">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-7">
        <h2>セキュリティ向けのSnap、IoT向けのSnap</h2>
        <p>Ubuntu CoreはオールSnapバージョンのUbuntuです。Snapは、アプリとそのすべての依存関係向けの安全で簡単にアップグレードできるユニバーサルLinuxパッケージです。Snapの特徴は以下のとおりです。</p>
        <p><a href="https://snapcraft.io" class="p-button--neutral p-link--external">Snapの作成方法に関する詳細</a></p>
      </div>
      <div class="col-4 prefix-1 u-align--center u-hide--small">
        <img src="{{ ASSET_SERVER_URL }}146d23a2-snapcraft-logo-bird.svg" width="200" alt="">
      </div>
    </div>
    <div class="p-strip is-shallow">
      <div class="row u-equal-height">
        <div class="col-6">
          <ul class="p-list">
            <li class="p-list__item is-ticked">厳格なセキュリティに制限</li>
            <li class="p-list__item is-ticked">信頼性の高いアップデートに対してトランザクショナル</li>
            <li class="p-list__item is-ticked">ディスク領域節約のために圧縮</li>
          </ul>
        </div>
        <div class="col-6">
            <ul class="p-list">
              <li class="p-list__item is-ticked">簡単な作成および配布</li>
              <li class="p-list__item is-ticked">業界の大手企業が幅広く採用</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="p-strip--light is-bordered">
      <div class="row">
      <div class="col-8">
          <h2>Canonicalと一緒に取り組みましょう</h2>
          <p>次期IoTプロジェクトでUbuntu Coreの使用をご検討の方は、ぜひお問い合わせください。</p>
          <p><a href="/contact-us?iot" class="p-button--positive">お問い合わせ</a></p>
        </div>
        <div class="col-4 u-vertically-center u-align--center">
          <img src="{{ ASSET_SERVER_URL }}90b66e7b-help.svg" width="200" alt="">
        </div>
      </div>
    </section>
</div>

{% endblock %}
