{% extends "_base/base.html" %}

{% block title %}OpenStack | Ubuntu{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords%} OpenStack, クラウド, Ubuntu OpenStack, プライベート クラウド, パブリック クラウド, オープン ソース, IAAS, インフラストラクチャ, サービス, Ubuntu, Ubuntu クラウド インフラストラクチャ,
Ubuntu クラウド ゲスト, Juju, Maas, オーケストレーション, 展開, プロビジョニング, Jumpstart, Amazon, AWS, Joyent, IBM, HP Cloud, Microsoft Azure, ゲスト,
OS, Linux, ディストリビューション, OpenStack, Ubuntu OpenStack, Ubuntu Cloud, サーバー, タブレット, スマートフォン, 電話, Windows の代替, Mac の代替, フリー ソフトウェア,
オープン ソース, シン クライアント, Juju, MAAS, Landscape, Ubuntu Advantage, Ubuntu のダウンロード, 導入, サービス提供, サービス オーケストレーション, サービス, 商用サポート,
有償サポート, 長期サポート, LTS, 14.04, 15.10, 16.04, Trusty Tahr, Icehouse, Juno, Kilo, Mitaka, Utopic Unicorn, Xenial Xerus {% endblock %}

{% block outer_content %}
<div id="main-content" class="u-no-margin--top">
  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-8">
        <h1>OpenStackの提供</h1>
        <p>Canonicalは、Ubuntu上でのOpenStackプライベートクラウドの設計、構築、運用、サポートを行っています。Canonical はプライベートクラウドインフラストラクチャの確実性、安定性、性能、経済効率の重要性を深く理解しています。</p>
      </div>
      <div class="col-4">
        <img src="{{ ASSET_SERVER_URL }}35515576-openstack-cloud.svg" alt="Canonical Openstack" class="u-hide--small">
      </div>
    </div>
  </section>
  <section class="p-strip--light is-bordered">
    <div class="row">
      <div class="col-8">
        <h2>OpenStackとは</h2>
        <p>OpenStackとは、企業のデータセンターでの大量のコンピュート、ストレージ、ネットワーキングの管理を可能にする、オープンソースのクラウドコンピューティングプラットフォームです。</p>
        <p>OpenStackがオープンソースであるということは、OpenStack の利用者が誰でもソースコードに対してアクセス、変更、コミュニティとの共有を行えることを意味します。このモデルでは、ソースコードの検証が所有者に限定された独自規格のコードに比べ、はるかに多くの人々による検証が行われる点が特徴です。</p>
        <p>OpenStackはOpenStack Foundationによって管理され、34,000人を超える個人のコントリビューターと550社を超える企業がこのプロジェクトに参加しています。</p>
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-8">
        <h2>CanonicalのOpenStackとは</h2>
        <p>急速に進化し続けるOpenStackにとって、日々の運用をいかに自動化するかが最大の課題といえます。Canonicalは、アップグレード、拡張、統合、セキュリティをサポートするオペレーションコードベースからアーキテクチャの選択を切り離したモデル駆動型の運用によって、この問題を解決します。</p>
        <p>柔軟性が高いCanonicalのOpenStackは、あらゆるOpenStackサービスの幅広いエコシステムのサポートを提供します</p>
      </div>
    </div>
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">クラスター全体にわたるサービスの柔軟な配置</li>
        <li class="p-list__item is-ticked">さまざまなシナリオに対する複数の高可用性ストラテジー</li>
        <li class="p-list__item is-ticked">アップグレードなどの運用をアーキテクチャから独立</li>
        <li class="p-list__item is-ticked">すべての顧客のデプロイで共通の運用コード</li>
        <li class="p-list__item is-ticked">コンテナ化されたコントロールプレーンまたは分離型サービスから選択が可能</li>
        <li class="p-list__item is-ticked">オプションのハイパーコンバージドストレージとコンピュート</li>
        <li class="p-list__item is-ticked">完全自動化、反復可能なデプロイと運用</li>
        <li class="p-list__item is-ticked">ダイレクトアタッチストレージ（DAS）およびCephストレージ内蔵</li>
        <li class="p-list__item is-ticked">SAN、Nexenta、Pure Storage、StorPoolのサードパーティオプション</li>
        <li class="p-list__item is-ticked">VLAN、OVS、TungstenFabricのオープンソースSDN</li>
        <li class="p-list__item is-ticked">Juniper Contrail と Cisco ACIがサードパーティオプションとして利用可能</li>
        <li class="p-list__item is-ticked">クラウドインフラストラクチャ運用のためのCI/CD</li>
        <li class="p-list__item is-ticked">幅広い認定ハードウェア</li>
        <li class="p-list__item is-ticked">効率的な調達に適したハードウェアの推奨</li>
        <li class="p-list__item is-ticked">トレーニング、コンサルティング、に関する機能とサービス</li>
        <li class="p-list__item is-ticked">Ubuntu Advantage ー エンタープライズ向けサポート</li>
      </ul>
    </div>
  </section>
  <section class="p-strip--light is-bordered">
    <div class="row">
      <div class="col-8">
        <h3>圧倒的ナンバーワンのクラウドと<br>コンテナオペレーティングシステム</h3>
        <p>Ubuntuは、OpenStackにおけるナンバーワンプラットフォームです。また、AWS、Azure、Google Cloudのパブリッククラウド向け運用プラットフォームとしてもナンバーワンを誇ります。</p>
        <p>Canonicalは、コンサルティング、トレーニング、エンタープライズ向けサポート、マネージドオペレーションを伴ったOpenStack on railsの提供を通して、お客様が最も重要な用途に注力いただけるようお手伝いします。</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">CanonicalはOpenStackの創設メンバーです</li>
          <li class="p-list__item is-ticked">最も幅広く使用されているOpenStackのディストリビューションです</li>
          <li class="p-list__item is-ticked">OpenStackオペレーター最大手が一貫してUbuntuを選択 ー AT&amp;T、Bloomberg、PayPal、eBay、Walmartなど多くの企業がCanonicalと共にOpenStackを構築しています</li>
          <li class="p-list__item is-ticked">通信向けOpenStackのIntelのリファレンスプラットフォームです</li>
          <li class="p-list__item is-ticked">OpenStackのアップグレードなどのオペレーションが含まれています</li>
          <li class="p-list__item is-ticked">Canonicalのリファレンスアーキテクチャは利用を最適化します</li>
          <li class="p-list__item is-ticked">Canonicalでは設計、アーキテクチャ、サポート、運用、トレーニングが1つのパッケージになっています</li>
          <li class="p-list__item is-ticked">Dell、HP、Lenovo、Supermicro、Quantaのサーバー</li>
          <li class="p-list__item is-ticked">マルチクラウドAWS、Azure、Google、IBM、Oracle、OpenStack</li>
          <li class="p-list__item is-ticked">コンテナに適したカーネルを持つUbuntuが、Kubernetes、Docker、Linuxシステムのコンテナにおけるナンバーワン</li>
        </ul>
        <a href="#features" class="p-button--positive">UbuntuでのCanonical OpenStackの特長</a>
      </div>
      <div class="col-4">
        {% include "shared/_openstack-pie-chart.html" %}
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered">
    <div class="row">
      <h2>Canonical OpenStackの業界別の使用事例</h2>
    </div>
    <div class="row u-equal-height">
      <article class="col-6 p-card">
        <header class="p-card__header">
          <h3 class="p-card__image p-heading--four">通信向けNFVIアーキテクチャ</h3>
        </header>
        <p>ラインレートVNF向けSR-IOVとダイナミッククラウドオペレーション向けCI/CDにより、OpenStackの通信向けリファレンスアーキテクチャは、高度に自動化された通信インフラストラクチャに対する規制と運用の両要件に適合しています。</p>
        <p>単一VNFクラウドやNEPに特化したクラウドだけでなく、ベンダーの枠を超えたコスト効率の良いネットワーク運用のための汎用的なプラットフォームを構築します。</p>
      </article>
      <article class="col-6 p-card">
        <header class="p-card__header">
          <h3 class="p-card__image p-heading--four">金融向けアーキテクチャ</h3>
        </header>
        <p>シンプルな監査とコンプライアンス評価によって、高セキュリティなOpenStack向けのクリティカルなサービスの分離が可能です。</p>
        <p>金融サービス向けのOpenStackの構築と運用によって、EUや米国の規制要件に対応が可能です。</p>
        <p>Ubuntu上のプライベートクラウドインフラストラクチャは、ブロックチェーンからデジタル変革まで、フィンテック革命の一端を担っています。</p>
      </article>
    </div>
    <div class="row u-equal-height">
      <article class="col-6 p-card">
        <header class="p-card__header">
          <h3 class="p-card__image p-heading--four">メディア向けアーキテクチャ</h3>
        </header>
        <p>ハイパーコンパージドストレージとコンピュートにより、大規模なメディア処理、トランスコーディング、デジタルワークフロー、ストレージに対して最大のコスト効率が確保されます。</p>
        <p>さらにKubernetesを導入することで、内在するメディアコンテンツへの直接アクセス可能な高パフォーマンスのワークロード運用体制が提供されます。</p>
      </article>
      <article class="col-6 p-card">
        <header class="p-card__header">
          <h3 class="p-card__image p-heading--four">AI（人工知能）/ ML（機械学習）およびHPC向けアーキテクチャ</h3>
        </header>
        <p>OpenStack上のAIおよび機械学習のワークロードのGPGPUアクセラレーションでは、基盤となるハードウェアとホストOSの入念な構成が必要です。</p>
        <p>CanonicalのUbuntuは、パブリッククラウドGPGPUインスタンスの主要プラットフォームです。またCanonicalは、対応するプライベートクラウドの専門知識も提供しています。</p>
        <p>Canonical OpenStackを使うことでGPGPUクラスターを構築し、複数のテナントと共有できます。さらにKubernetesを運用することで、HPC（ハイパフォーマンスコンピューティング）および高スループットのAI/MLデータ分析が可能になります。</p>
        <p><a href="/ai-ml">UbuntuによるAIモデルの開発に関する詳細&nbsp;›</a></p>
      </article>
    </div>
  </section>
  <section class="p-strip--light is-bordered">
    <div class="row u-equal-height">
      <div class="col-8">
        <h2>VMwareの移行</h2>
        <p>既存のVMをすばやくコスト効率良くCanonical OpenStackに移行できます。</p>
        <p>Canonicalはワークロード分析と移行サービスを提供しています。クラウドでの処理がすべてのワークロードにとって最適とは限りませんが、エンタープライズのワークロードの80～90%は簡単にOpenStackに移行でき、はるかにすぐれたコスト効率での処理が可能です。</p>
        <p>多くのOpenStackクラウドのデプロイにおける主な動機は、より効率的でオープンなIaaS（Infrastructure as a Service）が持つコスト面での利点です。また、Canonical OpenStackは幅広いクラウドサービスや、マルチクラウド運用ツールとの互換性も提供します。レガシーシステムの仮想化は引き続き重要ですが、未来はCanonical OpenStackが提供するクラウドAPIとコンテナベースのオペレーションにあります。</p>
        <p><a href="/contact-us?product=openstack">VMwareからの移行をお考えの方は、こちらからお問い合わせください</a></p>
      </div>
      <div class="col-4 u-vertically-center">
        <img src="{{ ASSET_SERVER_URL }}86914194-halfcostgraph.svg" alt="VMware cost savings" width="250px">
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-12">
        <h2 class="p-muted-heading u-align--center">CanonicalのOpenStackの主な取引先</h2>
        <ul class="p-inline-images{% if size == 'smaller' %}--smaller{% endif %}">
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}1ccb6d93-logo-deutschetelekom.svg" alt="Deutshe Telekom" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}be345c7f-bSkyb_logo.png" alt="Sky" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}b7693339-logo-bloomberg.svg" alt="Bloomberg" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}4ef05fb7-bestbuy.jpg" alt="Best Buy" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}b3315d88-walmart.svg" alt="Walmart" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}73135672-ntt-logo.svg" alt="NTT" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}ee5d503f-rabobank-4.svg" alt="Rabobank" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}f9832168-AstraZeneca.png" alt="Astra Zeneca" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}d424d305-Tesco_Logo.svg" alt="Tesco" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}c26cade5-1024px-BNP_Paribas.svg1_.png" alt="BNP" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}071c255b-AT%26T_logo.svg" alt="AT&amp;T" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}5cba4548-logo-ebay.svg" alt="eBay" />
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip--light is-bordered">
    <div class="row">
      <div class="col-7">
        <h2>OpenStackを2週間で提供します</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <p>Canonicalのクラウド構築サービスは、効率的なリファレンスアーキテクチャによって本番稼働のOpenStackクラウドをオンサイトで2週間で提供します。CanonicalのOpenStackクラウドは、コンテナ化されたコントロールプレーン、オプションのハイパーコンバージドアーキテクチャ、モデル駆動型オペレーション、そして将来のOpenStackのリリースへのアップグレード保証を特徴とした、プライベートクラウドを成功させるための最短コースです。オプションのコンサルティングを利用し、お客様が持つ要件に合わせてアーキテクチャをカスタマイズできます。</p>
        <ul class="p-list is-split">
          <li class="p-list__item is-ticked">SLA（サービス品質保証）およびサポートサービス</li>
          <li class="p-list__item is-ticked">オンサイトのエンジニアリングおよびサポート</li>
          <li class="p-list__item is-ticked">リファレンスアーキテクチャの利用</li>
          <li class="p-list__item is-ticked">必要に応じたOpenStack機能の開発</li>
          <li class="p-list__item is-ticked">カスタマイズしたアーキテクチャサービスの配置</li>
          <li class="p-list__item is-ticked">繰り返し可能な自動デプロイ</li>
          <li class="p-list__item is-ticked">ハードウェアのガイダンス</li>
        </ul>
        <p><a href="/contact-us?product=foundation-cloud" class="p-button--positive">カスタムOpenStackエンジニアリングの詳細は、こちらからお問い合わせください</a></p>
      </div>
      <div class="col-5 prefix-1">
        <blockquote class="p-pull-quote">
          <p>Canonicalのチーム全員が率先して問題に対処してくれたため、素晴らしいサポートを受けることができました。</p>
          <cite class="p-pull-quote__citation">–Best Buy、ウェブエンジニアリング担当ディレクター</cite>
        </blockquote>
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered">
    <div class="row u-equal-height">
      <div class="col-8">
        <h2>フルマネージドのOpenStackプライベートクラウド<br>そのコストはVMwareの半分</h2>
      </div>
      <div class="col-4 u-vertically-center u-align--center u-hide--small">
        <img src="{{ ASSET_SERVER_URL }}95212c08-OpenStack_Logo_2016.svg" alt="OpenStack logo" style="max-width: 240px;">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <p class="u-no-max-width">CanonicalのフルマネージドプライベートクラウドサービスであるBootStackは、プライベートOpenStackクラウドの実現に向けた最速かつ最も費用対効果の高い方法です。</p>
      </div>
    </div>
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">大規模VMwareの所有および運用にかかるコストの半分</li>
        <li class="p-list__item is-ticked">お客様の事業所、お客様のサーバーでのフルマネージドクラウド</li>
        <li class="p-list__item is-ticked">実績のあるリファレンスアーキテクチャの使用により2週間で構築</li>
        <li class="p-list__item is-ticked">ワークロードに基づきアーキテクチャを繰り返しカスタマイズ</li>
        <li class="p-list__item is-ticked">VMwareのワークロード分析および移行サービス</li>
        <li class="p-list__item is-ticked">ご利用のクラウドAPIサービスのエンタープライズ向けSLA</li>
        <li class="p-list__item is-ticked">チームメンバーは全マシンに常時アクセス可能</li>
        <li class="p-list__item is-ticked">最新方式のモニタリングとログ管理</li>
        <li class="p-list__item is-ticked">お客様の準備が完了した時点でキーをお渡しします</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-8">
        <p>初めてのOpenStackはCanonicalに任せて、お客様は業務に注力いただけます。</p>
        <p>
          <a href="/contact-us?product=openstack-managed-cloud" class="p-button--positive">お問い合わせ</a>
        </p>
      </div>
    </div>
  </section>
  <section class="p-strip--light is-bordered">
    <div class="row">
      <h2>KubernetesはOpenStackおよびベアメタル上で完璧に機能します</h2>
      <p>Kubernetes（K8s）が、あらゆるマルチクラウドビジネスにとっての新基準の運用レイヤであることは確実です。CanonicalはGoogleとの提携により、DevOps（開発と運用）部門向けにオンデマンドのK8sを、OpenStack、VMware、パブリッククラウド、MAAS（Metal as a Service）を伴ったベアメタルクラスター上で可能にします。</p>
    </div>
    <div class="row">
      <div class="col-8">
        <p>Charmed Kubernetesにより、エンタープライズ全体を網羅した「Containers as a Service」の提供が可能になります。各プロジェクトは集中型の運用管理により、任意の規模の標準化されたK8sをオンデマンドでスピンアップできます。</p>
      </div>
    </div>
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">Ubuntuによるマルチクラウドでのワークロードの移植性</li>
        <li class="p-list__item is-ticked">Google、Azure、AWSのK8sサービスと同じUbuntu OSおよびカーネル</li>
        <li class="p-list__item is-ticked">GPGPU、FPGA、SR-IOVのワークロードに対するPCIデバイスパススルー</li>
        <li class="p-list__item is-ticked">NVIDIAとGoogleによるAIと機械学習の最適化</li>
        <li class="p-list__item is-ticked">Google、Azure、AWS上のパブリッククラウドK8sに適合するFlavours</li>
        <li class="p-list__item is-ticked">標準アップストリームKubernetes、CNCFビルドが利用可能</li>
        <li class="p-list__item is-ticked">CI/CD向けサードパーティ認定ソリューションのポートフォリオ</li>
        <li class="p-list__item is-ticked">Day-2オペレーションのカプセル化と標準装備</li>
        <li class="p-list__item is-ticked">K8sのリリース間のアップグレードの保証</li>
        <li class="p-list__item is-ticked">Ubuntuと同様のCanonicalによるセキュリティアップデート</li>
        <li class="p-list__item is-ticked">Dockerおよびコンテナランタイムとの完全なOCI互換性</li>
        <li class="p-list__item is-ticked">PrometheusおよびELKのログ記録とモニタリングの標準装備</li>
        <li class="p-list__item is-ticked">ストレージ、ネットワーキング向けの拡張可能なサードパーティのエコシステム</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-8">
        <p>Googleとの提携により、Canonicalは<a href="http://ubuntu.com/ai" class="p-link--external">KubeflowによるAIと機械学習</a>に最適なK8sを提供しています。</p>
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered" id="features">
    <div class="row">
      <h2>特長</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>コンピュート</h3>
        <p>プライベートクラウドを構築する場合、ワークロードに対するパフォーマンス、データセンターの稼働率、そして経済効率性を最大化することが必要です。Canonicalはそのすべてを提供します。<p>
        <p>クラウド環境においてコンピュートの価格およびパフォーマンスの把握は重要です。アーキテクチャ、ネットワーキング、ストレージ、そして最終的には組み合わせるハードウェアの選択という複数の要因によって、クラウドのパフォーマンスと効率性が決定されます。クラウドの構築において豊富な経験を持つCanonicalは、お客様の稼働率とパフォーマンスを満たすアーキテクチャに関する優れた知見を提供します</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">トータルスループットのための基板やCPUの選択方法</li>
          <li class="p-list__item is-ticked">RAM、ディスク、ネットワークのパフォーマンスインパクトの評価</li>
          <li class="p-list__item is-ticked">GPGPU、FPGAおよびその他のアクセラレータの統合</li>
          <li class="p-list__item is-ticked">専用NICおよびストレージシステムへの機能のオフロード</li>
          <li class="p-list__item is-ticked">サーバーの稼働レベルの評価と向上</li>
          <li class="p-list__item is-ticked">クラウドでのコンピュートの負荷のバランス調整</li>
          <li class="p-list__item is-ticked">特定ワークロードの最適化</li>
          <li class="p-list__item is-ticked">オーバーコミット率の評価</li>
          <li class="p-list__item is-ticked">インスタンスタイプの指定</li>
        </ul>
      </div>
      <div class="col-6">
        <h3>ストレージ</h3>
        <p>クラウド環境において、ストレージのパフォーマンスと経済性のバランスを取ることは困難です。Canonicalは、お客様が価格とパフォーマンスのバランスを取れるようクラスター全体のストレージ構築をサポートし、お客様独自のデプロイに対する回復力、レイテンシ、IOPS、整合性の適切な組み合わせを確保します。</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">ーカルのダイレクトアタッチストレージ（DAS）とネットワークストレージの組み合わせ</li>
          <li class="p-list__item is-ticked">分散型ソフトウェアデファインドストレージ（SDS）とSANの評価</li>
          <li class="p-list__item is-ticked">ローカルおよびネットワークストレージのパフォーマンスチューニング</li>
          <li class="p-list__item is-ticked">ストレージの圧縮の把握</li>
          <li class="p-list__item is-ticked">ストレージの回復力の把握</li>
          <li class="p-list__item is-ticked">サードパーティのストレージソリューションを統合可能</li>
          <li class="p-list__item is-ticked">オブジェクトストアとその他のハイレベルのストレージ構造</li>
          <li class="p-list__item is-ticked">階層型ストレージ構成</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>経済性は、最新のコンピュート基板の有効性の評価に最も重要な基準です。プライベートクラウドはパブリッククラウドと同じくらい効率的でなければ、社内のワークロードにとって魅力的とは言えません。</p>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>ネットワーキング</h3>
        <p>基盤となるレイヤにおける総ネットワークスループットおよびレイテンシは、クラウドのパフォーマンスにとって重要な要素です。ハイパースケールパブリッククラウドとの協業を通して、Canonicalは大規模なマルチテナント運用におけるクラウドネットワークのパフォーマンスとセキュリティのベストプラクティスのダイナミクスに関する優れた知見を持っています。通信事業者とのNFVやエッジクラウド関連の協業を通し、レイテンシやセキュリティが重要となる複雑な環境での効果を発揮しています。</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">スイッチアーキテクチャの選択がクラウドパフォーマンスに与える影響</li>
          <li class="p-list__item is-ticked">分散型クラスター全体のレイテンシの測定</li>
          <li class="p-list__item is-ticked">クラウドNICでのSR-IOVと機能のオフロード</li>
          <li class="p-list__item is-ticked">特定のハードウェアの選択によるNFVの影響</li>
          <li class="p-list__item is-ticked">アンダーレイネットワークのアーキテクチャ設計</li>
          <li class="p-list__item is-ticked">アンダーレイネットワークのセキュリティ設計の影響</li>
          <li class="p-list__item is-ticked">アンダーレイネットワークに対するIPAMとDNS</li>
          <li class="p-list__item is-ticked">テナントネットワークルーターのオプションと最適化</li>
          <li class="p-list__item is-ticked">VLAN、OVS、Tungsten Fabricテナントネットワーキング</li>
          <li class="p-list__item is-ticked">Cisco ACI、Juniper Contrailおよびその他の独自規格のSDNオプション</li>
          <li class="p-list__item is-ticked">プライベートクラウドへの企業向けファイアウォールの運用</li>
          <li class="p-list__item is-ticked">OpenStackテナントからのBGPルートプロパゲーション</li>
          <li class="p-list__item is-ticked">通信環境向けのMPLS統合</li>
        </ul>
      </div>
      <div class="col-6">
        <h3>ハイパーコンバージド、コンテナ化、または分離型のサービス</h3>
        <p>OpenStackコントロールプレーンのコンテナ化において世界をリードするCanonicalは、ゲストコンピュートおよびストレージと並行してOpenStackサービスの超効率的な配置を可能にし、OpenStackクラウドのコストを削減します。</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">コンテナ化されたコントロールプレーンは、OpenStackサービスが専用のマシンではなくコンテナとしてデプロイされることを意味します。これにより、小規模なクラウド環境で必要なマシンの数が減り、ゲストやテナントに対して稼働する機器を増やすことができます。</li>
          <li class="p-list__item is-ticked">ハイパーコンバージドアーキテクチャはストレージ、ゲストVM、OpenStackのサービスをクラスター内のすべてのノードに配置します。最新のカーネルQoS（Quality of Service）機能を使用して重要なサービスのパフォーマンスを守り、同時にクラウドの保守に必要なオーバーヘッドノードの数を削減します。</li>
          <li class="p-list__item is-ticked">分離型のサービスアーキテクチャでは、メッセージング、データベース、APIサービスなど固有のOpenStackの機能向けに専用のマシンを使用し、クラウド機能でのよりシンプルなサービスレベルの保証と、よりシンプルなセキュリティ、コンプライアンス、監査を提供します。</li>
          <li class="p-list__item is-ticked">VIP-HAアーキテクチャによって重要なフロントエンドAPIサービスのほぼ即時のフェイルオーバーが可能になりますが、それにはそれらのサービスを単一の物理的なネットワークセグメント上に存在させる必要があります。DNS-HAの手法では、障害の際に短時間のTTL DNSレコード更新を使用してユーザーにAPIエンドポイントのバックアップをリダイレクトします。サービスの回復に若干の遅延がありますが、大規模な環境に対する配置とルーティングの柔軟性は高くなります。</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <h2>OpenStackを自分でインストールする －<br>デベロッパーエディションまたは本番クラスター</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <p>OpenStackの複雑な動作の核心を掘り下げたいOpenStackの開発者向けに、複数のコンテナでシングルノードのOpenStackをデプロイするための、<a href="https://ubuntu.com/openstack/install#workstation-deployment" class="p-link--external">当社のワークステーションのインストールガイド</a>を提供しています。本番環境の場合は、ベアメタルのサーバーで同じオペレーションスタックを使用して<a href="https://ubuntu.com/openstack/install#cluster-deployment" class="p-link--external">完全なOpenStackクラスターをデプロイ</a>できます。このUbuntuリファレンスOpenStackアーキテクチャでは<a href="https://maas.io" class="p-link--external">MAAS</a>と<a href="https://linuxcontainers.org/" class="p-link--external">Linux Containers</a>を使用してベアメタルのラックで効率的に動作します。</p>
      </div>
      <div class="col-6">
        <p class="p-heading--four">UbuntuでのCanonical Openstackのデプロイを動画で見る</p>
        <div class="u-embedded-media">
          <iframe class="u-embedded-media__element" src="https://player.vimeo.com/video/202448226?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-vimeo-tracked="true" data-ready="true" id="player0"></iframe>
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip">
    <div class="row">
      <h3>OpenStackの詳細</h3>
      <p><a href="{{ ASSET_SERVER_URL }}a1ab6a86-OpenStack-made-easy_eBook_jp_01.08.18.pdf" class="p-button--positive"><span class="p-link--external">ホワイトペーパーを読む</span></a></p>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <h2>パッケージ</h2>
    </div>
    <div class="row u-equal-height">
      <div class="col-6 p-card">
        <div class="p-card__header">
          <h2 class="p-heading--four">Cloud Build Service</h2>
          <p><span class="p-heading--two">75,000ドル</span> 2週間で納入</p>
        </div>
        <p>OpenStackリファレンスアーキテクチャの設計とデプロイ</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">ハードウェアのガイダンスとサイジング</li>
          <li class="p-list__item is-ticked">固定価格でのデプロイ</li>
          <li class="p-list__item is-ticked">リファレンスアーキテクチャ</li>
          <li class="p-list__item is-ticked">オープンソースストレージ</li>
          <li class="p-list__item is-ticked">シンプリファイドネットワーキング</li>
          <li class="p-list__item is-ticked">ハイパーコンバージド</li>
          <li class="p-list__item is-ticked">コンテナ化されたコントロールプレーン</li>
          <li class="p-list__item is-ticked">ログ集約</li>
          <li class="p-list__item is-ticked">クラスターのモニタリング</li>
          <li class="p-list__item is-ticked">オンデマンドでのアップグレード</li>
          <li class="p-list__item is-ticked">高可用性</li>
        </ul>
        <p>認定ハードウェア上で2週間で納入</p>
        <p><a href="https://jp.ubuntu.com/contact-us?product=openstack">お問い合わせ&nbsp;›</a></p>
      </div>
      <div class="col-6 p-card">
        <div class="p-card__header">
          <h2 class="p-heading--four">Cloud Build Plus</h2>
          <p><span class="p-heading--two">150,000ドル</span>1回限りの料金</p>
        </div>
        <p>Cloud Build Serviceへの追加OpenStackコンサルティングパッケージ</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">ワークロードの分析</li>
          <li class="p-list__item is-ticked">VMwareの移行計画</li>
          <li class="p-list__item is-ticked">カスタマイズされたアーキテクチャ</li>
          <li class="p-list__item is-ticked">コンテナ化または分離型コントロールプレーン</li>
          <li class="p-list__item is-ticked">ストレージとSDNの統合</li>
          <li class="p-list__item is-ticked">LDAPまたはActive Directory</li>
          <li class="p-list__item is-ticked">企業内モニタリング</li>
          <li class="p-list__item is-ticked">通信VNFのオンボーディング</li>
          <li class="p-list__item is-ticked">GPGPUとFPGAのパススルー</li>
          <li class="p-list__item is-ticked">HPCの最適化</li>
          <li class="p-list__item is-ticked">規制対応</li>
        </ul>
        <p>オンサイトのワークショップにより、お客様のワークロードおよび統合条件に見合った最適なアーキテクチャを決定します。</p>
        <p><a href="/contact-us?product=openstack">お問い合わせ&nbsp;›</a></p>
      </div>
      <div class="col-6 p-card">
        <div class="p-card__header">
          <h2 class="p-heading--four">Fully Managed Cloud</h2>
          <p><span class="p-heading--two">15ドル</span>1サーバー、1日あたり</p>
        </div>
        <p>お客様のCanonical OpenStackのフルリモート運用をVMwareの半額で提供</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">24時間体制のモニタリング</li>
          <li class="p-list__item is-ticked">予防的管理</li>
          <li class="p-list__item is-ticked">EUおよび米国の規制対応オプション</li>
          <li class="p-list__item is-ticked">通信NFVオプション</li>
          <li class="p-list__item is-ticked">金融セクターオプション</li>
          <li class="p-list__item is-ticked">SDNオプション</li>
        </ul>
        <p>OpenStackを開始するのに最適な方法です。最も費用対効果の高いプライベートクラウドとして<a href="http://www.ubuntu.com/engage/cloud-economics" class="p-link--external">クラウド関連の経済専門家に認められています。</a></p>
        <p><a href="/contact-us?product=openstack">お問い合わせ&nbsp;›</a></p>
      </div>
    </div>
  </section>
  <section class="p-strip p-contextual-footer">
    <div class="row">
      <div class="p-divider">
        <div class="col-4 p-divider__block">
          <h3 class="p-heading--four">お客様のクラウドの成長に合わせて</h3>
          <p>Ubuntu Advantageのエンタープライズ向けサポート契約にはCanonical OpenStackが追加料金なしで含まれています。</p>
          <p><a href="/contact-us?product=ubuntu-advantage">お問い合わせ&nbsp;›</a></p>
        </div>
        <div class="col-4 p-divider__block">
          <h3 class="p-heading--four">エンタープライズ向けサポートについて</h3>
          <p>お客様がOpenStackを正しく開始できるよう、当社のクラウドのエキスパートがコンサルティングやトレーニング、あるいは運用のアウトソーシングによって支援します。</p>
          <p><a href="/enterprise-support">エンタープライズ向けサポート&nbsp;›</a></p>
        </div>
        <div class="col-4 p-divider__block">
          [FEED]
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
