{% load versioned_static %}
<!doctype html>
<html lang="ja" dir="ltr">

<head>
  <title>{% block title %}{% endblock %}</title>

  <meta charset="UTF-8" />
  <meta name="description" content="{% block meta_description %}Ubuntuは、PCからサーバーとクラウドまであらゆる場所で動作するオープンソースのソフトウェアプラットフォームです。{% endblock %}" />
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
  <meta name="author" content="Canonical" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
  <![endif]-->

  <link rel="shortcut icon" href="{% versioned_static 'files/favicon.ico' %}" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ ASSET_SERVER_URL }}9864667f-apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_SERVER_URL }}f2ddbdc6-apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_SERVER_URL }}f193fb82-apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" href="{{ ASSET_SERVER_URL }}205d458b-apple-touch-icon-precomposed.png">

  <link type="text/plain" rel="author" href="{% versioned_static 'files/humans.txt' %}" />

  <link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static 'css/styles.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static 'components/canonical-global-nav/build/css/main.css' %}" />
  {% block head_extra %}{% endblock %}
</head>

<body>

  <header id="navigation" class="p-navigation u-no-margin--top">
    <div class="row">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo">
          <a class="p-navigation__link" href="/">
            <img width="106" height="25" src="{{ ASSET_SERVER_URL }}26a786aa-logo-ubuntu-white.svg" alt="Ubuntu logo" />
          </a>
        </div>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </div>
  </header>

  {% block header %}{% endblock %}

  {% block content_container %}
    {% block outer_content %} {% endblock outer_content %}
  {% endblock content_container %}

  {% include "_base/footer.html" %}

</body>

</html>