{% block footer %}
<hr class="u-no-margin--bottom">
<section class="p-strip u-no-margin--top">
  <div class="row">
    <p>&copy; {{ now("%Y") }} Canonical Ltd. Ubuntu および Canonical は、Canonical Ltd の登録商標です。</p>
    <nav class="u-no-margin--top">
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item">
          <a class="p-link--soft" accesskey="9" href="https://ubuntu.com/legal/terms-and-policies/privacy-policy">Cookie policy</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/canonical-websites/jp.ubuntu.com/issues/new" id="report-a-bug">Report a bug on this site</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft js-revoke-cookie-manager" href="">Manage your tracker settings</a>
        </li>
      </ul>

      <script>
        /* Add the page to the report a bug link */
        var bugLink = document.querySelector('#report-a-bug');
        bugLink.href += '?body=%0a%0a%0a---%0a*Reported%20from:%20' + location.href + '*';
      </script>

      <span class="u-off-screen">
        <a href="#">Go to the top of the page</a>
      </span>
    </nav>
  </div>
</section>

<script src="{{versioned_static('js/dist/global-nav.js')}}" defer></script>
<script src="{{versioned_static('js/dist/cookie-policy.js')}}" defer></script>

{% endblock footer %}
