{% with feed = get_json_feed(insights_news_url) %}
  {% if feed is eq False %}
    <div class="p-notification--negative">
      <p class="p-notification__response"><span class="p-notification__status">Error:</span>The live news feed failed to load. Please <a href="https://github.com/canonical-websites/www.ubuntu.com/issues/new" class="external">report this bug</a> and our team will fix the problem as soon as&nbsp;possible.</p>
    </div>
  {% else %}
    <ul class='p-list'>
      {% for item in feed %}
        <li class="p-list__item"><a class="p-link--external" href="{{replace_admin(item.link)}}">{{item.title.rendered|safe}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
