<div class="p-strip is-bordered is-deep">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-7">
        <h1>{{ thanks_context }}</h1>
        <p class="p-heading--4">1営業日以内に担当者からご連絡いたします</p>
      </div>
      <div class="col-5 u-align--center u-vertically-center u-hide--small">
        <img src="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/52d53696-picto-thankyou-midaubergine.svg" alt="smile" width="200" height="200" />
      </div>
    </div>
  </div>
</div>
<div class="p-strip--light">
  <div class="row">
    <div class="col-10">
      <h2>エンタープライズ向けサービスの詳細</h2>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">Ubuntu Pro</h3>
      <p>Ubuntuのデスクトップサポートの購入で、必要なときにいつでも Ubuntuのエキスパートへお問い合わせいただけます</p>
      <p><a class="p-link--external" href="https://buy.ubuntu.com">Ubuntu Proの購入</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">Ubuntu OpenStack</h3>
      <p>業界をリードするCanonicalのOpenStackベースのプライベートクラウドインフラストラクチャプラットフォームの詳細については、こちらをご覧ください。</p>
      <p><a class="p-link--external" href="/openstack">Learn about Ubuntu OpenStack</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">Landscape</h3>
      <p>当社のOpenStackベースのプライベートクラウドインフラストラクチャプラットフォームで企業内の Ubuntu を管理できます。</p>
      <p><a href="/enterprise-support">Landscape の詳細&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</div>
