
{% with title="",
primary_url="",
primary_cta="",
primary_cta_class="",
secondary_url="",
secondary_cta="",
lang="",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}

<section class="is-active p-takeover--grad js-takeover">
    <div class="row u-equal-height">
      <div class="col-6 u-vertically-center">
          <div class="u-hide u-show--small p-heading-icon--large">
            <div class="p-heading-icon__header is-stacked">
              <img class="p-heading-icon__img " src="https://assets.ubuntu.com/v1/fe951eda-20.10_Groovy+Gorilla_RPi_Sketch.svg" alt="" style="height:388px;width:250px;">
            </div>
          </div>
        <h1>Ubuntu 20.10の新機能とは？</h1>
          <h4>Raspberry Pi用のUbuntu Desktop、最新のデスクトップ機能を導入し、マイクロクラウドに対応します。</h4>
        <div class="u-hide--medium u-hide--large">
            <p>
              <a href="/download?utm_source=takeover&utm_medium=takeover" class="p-button--positive u-no-margin--bottom">
                  <span>Ubuntu 20.10を入手する</span>
              </a>
            </p>
            <p>
              <a href="/blog/ubuntu-20-10%e3%82%92%e6%90%ad%e8%bc%89%e3%81%97%e3%81%9fraspberry-pi%e3%81%8c%e5%ae%8c%e5%85%a8%e3%81%aalinux%e3%83%87%e3%82%b9%e3%82%af%e3%83%88%e3%83%83%e3%83%97%e3%81%a8%e3%83%9e%e3%82%a4%e3%82%af" class="p-link--external p-link--inverted">
                <span>もっと詳しく知る</span>
              </a>
            </p>
        </div>
      </div>
    </div>
  </section>
