
{% with title="Ubuntu 20.10の新機能とは？",
subtitle="Raspberry Pi用のUbuntu Desktop、最新のデスクトップ機能を導入し、マイクロクラウドに対応します。",
class="",
header_image="https://assets.ubuntu.com/v1/fe951eda-20.10_Groovy+Gorilla_RPi_Sketch.svg",
image_style="",
image_height="388",
image_width="250",
image_hide_small=true,
equal_cols=true,
primary_url="/download?utm_source=takwover&utm_medium=takeover",
primary_cta="Ubuntu 20.10を入手する",
primary_cta_class="",
secondary_url="/blog/ubuntu-20-10%e3%82%92%e6%90%ad%e8%bc%89%e3%81%97%e3%81%9fraspberry-pi%e3%81%8c%e5%ae%8c%e5%85%a8%e3%81%aalinux%e3%83%87%e3%82%b9%e3%82%af%e3%83%88%e3%83%83%e3%83%97%e3%81%a8%e3%83%9e%e3%82%a4%e3%82%af",
secondary_cta="もっと詳しく知る",
lang="",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}