{% with title="GMOペパボがカーネルのライブパッチによって運用コストと2,500時間の手作業を削減",
subtitle="",
class="p-takeover--dark",
header_image="https://assets.ubuntu.com/v1/c92b1d48-GMO-Pepabo-ubuntu_white.svg",
image_style="",
image_height="250",
image_width="250",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/case-study-gmo-pepabo?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY20_DC_JP_CStudy_GMOPepabo",
primary_cta="ケーススタディをダウンロード",
primary_cta_class="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}