{% with title="Red Hat OpenStack PlatformとCanonicalのCharmed OpenStackとの比較",
subtitle="Charmed OpenStackによりTCOを大幅に低減",
class="p-takeover--dark",
header_image="https://assets.ubuntu.com/v1/2d935f28-openstack-cloud.svg",
image_style="",
image_height="250",
image_width="300",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/redhat-openstack-whitepaper?utm_source=takeover&utm_medium=takeover&utm_campaign=7013z000001Wl8Q",
primary_cta="ホワイトペーパーをダウンロード",
primary_cta_class="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}