<section class="p-strip--image js-takeover is-dark p-takeover--yahoo">
  <div class="row u-vertically-center">
    <div class="col-8 u-fade-left--medium">
      <h1>Yahoo! JAPAN、Canonicalとプライベートクラウドの構築で協業</h1>
      <p class="u-no-padding--top p-heading--four">Yahoo! JAPANが、MAASとJujuを使用して2万VM用のOpenStackと1PBのCephストレージを3リージョンに展開した事例を紹介</p>
      <a href="/engage/yahoo" class="p-button--positive">ユーザー事例をダウンロードする</a>
    </div>
    <div class="col-4 u-hide--small u-align--center u-vertically-center" >
      <img src="https://assets.ubuntu.com/v1/a0e557b6-Yahoo-Japan.png" alt="Yahoo on Ubuntu by Canonical">
    </div>
  </div>
  <style>
    .p-takeover--yahoo {
      background-image: url(https://assets.ubuntu.com/v1/e6a2c401-suru-left.svg), url(https://assets.ubuntu.com/v1/a9dab044-suru-right.svg), linear-gradient(44deg, #171717 0%, #181818 9%, #262626 34%, #2D2D2D 67%, #383838 88%, #2E2E2E 100%, #393939 100%);
      background-position: left, right;
      background-repeat: no-repeat, no-repeat;
      background-size: auto 100%, auto 100%, cover;
    }
    @media (max-width: 874px) {
      .p-takeover--yahoo {
        background-image: linear-gradient(44deg, #171717 0%, #181818 9%, #262626 34%, #2D2D2D 67%, #383838 88%, #2E2E2E 100%, #393939 100%);
      }
    }
  </style>
</section>